@using EI.RP.WebApp.Models.Shared
@using EI.RP.WebApp.Models.Static 

@model StaticModel

@{
    ViewData["Title"] = "Contact Us";
    Layout = "_Layout_WithNav";
}

<main class="plan">
    @await Html.PartialAsync("Partials/_Header", new HeaderModel { Title = "Contact Us" })
    @await Html.PartialAsync("Partials/_ContactUsContent")
</main>
