@using EI.RP.WebApp.Models.Shared
@using EI.RP.WebApp.Models.Static

@model StaticModel

@{
    ViewData["Title"] = "Disclaimer";
    Layout = "_Layout_WithNav";
}

<main class="plan">
    @await Html.PartialAsync("Partials/_Header", new HeaderModel { Title = "Disclaimer" })
    @await Html.PartialAsync("Partials/_DisclaimerContent")
</main>
