@using EI.RP.WebApp.Models.Shared
@using EI.RP.WebApp.Models.Static

@model StaticModel

@{
    ViewData["Title"] = "Terms & Conditions";
    Layout = "_Layout_WithNav";
}

<main class="plan">
    @await Html.PartialAsync("Partials/_Header", new HeaderModel { Title = "Terms and Conditions of Your Account Online" })
    @await Html.PartialAsync("Partials/_TermsAndConditionsContent")
</main>
