@using EI.RP.WebApp.Flows.AppFlows
@model EI.RP.WebApp.Flows.AppFlows.MeterReadings.Steps.MeterReadingNotPresent.ScreenModel

<main class="help" data-page="meter-reading-not-present">
    <div class="container">
        <div class="portal-details">
            <div class="portal-details__form meter-reading">
                <h2 class="error" data-testid="meter-reading-title">We're sorry you cannot submit a reading.</h2>
                @if (Model.IsSmartActiveAccount)
                {
                <p>This is automatically read from your smart meter.</p>
                }
                else
                {
                    <p>No meter reading is present for this account.</p>
                }
                <flow-action data-testid="meter-reading-back"
                             action-type="StartFlow"
                             flow-name="@ResidentialPortalFlowType.Accounts"
                             flow-location="NotContained"
                             class="btn btn-xs btn-xs-back green">Back to My Accounts</flow-action>
            </div>
        </div>
    </div>
</main>