@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Steps.PaymentGatewayInteractionAndMainOptions.ScreenModel

@functions
{
    enum PageComponent
    {
        LastPayment = 1,
        PrivacyNoticeMessage,
        PaymentMessages,
        PaymentGateway
    }
}

@{
    var componentPreLoader = new ComponentPreLoader<PageComponent>(Component, Model);

    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Components.LastPayment.Component>(PageComponent.LastPayment,
        new EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Components.LastPayment.InputModel
        {
            AccountNumber = Model.AccountNumber,
            CurrentBalanceAmount = Model.CurrentBalanceAmount,
            CurrentBalanceAmountLabel = Model.CurrentBalanceAmountLabel,
            ShowLatestBillDate = Model.ShowLatestBillDate ?? true
        });
    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.SharedFlowComponents.Main.PrivacyNoticeMessage.Component>(PageComponent.PrivacyNoticeMessage,
        new EI.RP.WebApp.Flows.SharedFlowComponents.Main.PrivacyNoticeMessage.InputModel
        {
            AccountNumber = Model.AccountNumber,
            PrependedMessage = "Electric Ireland requires the below information to allow you make payments to your account."
        });
    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Components.PaymentMessages.Component>(PageComponent.PaymentMessages,
        new EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Components.PaymentMessages.InputModel
        {
            AccountNumber = Model.AccountNumber
        });
    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Components.PaymentGateway.Component>(PageComponent.PaymentGateway,
        new EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Components.PaymentGateway.InputModel
        {
            AccountNumber = Model.AccountNumber,
            CurrentBalanceAmount = Model.CurrentBalanceAmount
        });
}

<main class="payment" data-page="make-a-payment">
    <div class="container">
        <div class="portal-details pay-now">
            @await componentPreLoader.Render(PageComponent.LastPayment)
            @await componentPreLoader.Render(PageComponent.PrivacyNoticeMessage)
            @await componentPreLoader.Render(PageComponent.PaymentMessages)
            @await componentPreLoader.Render(PageComponent.PaymentGateway)
        </div>
    </div>
</main>
