@using EI.RP.WebApp.Flows.AppFlows

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.MovingHouseNotPresent.ScreenModel

<main class="plan">
    <div class="container">
        <div class="portal-details">
            <h2 class="landing-head">Moving House</h2>
            <div class="portal-details__form" id="MPRN-GPRN">
                <h2 class="error mb-4">We cannot process your move request at the moment.</h2>
                <p>Please call 1850 372 372 to complete your move.</p>
                <flow-action id="dds_<_back_to_my_accounts"
                             class="btn btn-xs btn-xs-back green"
                             data-testid="back-to-my-accounts"
                             action-type="StartFlow"
                             flow-name="@ResidentialPortalFlowType.Accounts"
                             flow-location="NotContained">Back to My Accounts</flow-action>
            </div>
        </div>
    </div>
</main>
