@using EI.RP.WebApp.Flows.AppFlows

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.ShowMovingHouseValidationError.ScreenModel

<main class="plan" data-page="moving_house_validation_error_page">
    <div class="container">
        <div class="portal-details">
            <h2 id="pErrorMessageTitle" class="landing-head">Moving House</h2>
            <div class="portal-details__form" id="MPRN-GPRN">
                <h2 class="error mb-4" 
                    data-testid="error_message_title">
                    @Model.ErrorMessageTitle
                </h2>
                <p data-testid="error_message_body">
                    @Model.ErrorMessageBody
                </p>
                <flow-action id="dds_<_back_to_my_accounts"
                             class="btn btn-xs btn-xs-back green"
                             data-testid="back-to-my-accounts"
                             action-type="StartFlow"
                             flow-name="@ResidentialPortalFlowType.Accounts"
                             flow-location="NotContained">Back to My Accounts</flow-action>
            </div>
        </div>
    </div>
</main>
