@using EI.RP.WebApp.DomainModelExtensions
@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps
@using EI.RP.WebApp.Infrastructure.Extensions

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.ShowMovingHouseReEnterPrnError.ScreenModel

<main class="plan">
    <div class="container">
        <div class="portal-details">
            <h2 id="header" class="landing-head">@Model.MovingHouseType.ToDescriptionText()</h2>
            <div class="portal-details__form" id="MPRN-GPRN">
                <h2 class="error mb-4" id="errorMessage">
                    @if (!Model.MPRNExist || !Model.IsAddressMatch)
                    {
                        @:We are having trouble locating your MPRN
                    }
                    else
                    {
                        @:We cannot process your move request at the moment
                    }
                </h2>
                <p id="contactNumber">Please call 1850 372 372 to complete your move.</p>
                <flow-action id="backToMyAccount"
                             class="btn btn-xs btn-xs-back green"
                             data-testid="back-to-my-accounts"
                             action-type="StartFlow"
                             flow-name="@ResidentialPortalFlowType.Accounts"
                             flow-location="NotContained">Back to My Accounts</flow-action>
                @using (await Html.BeginUiFlowFormAsync(Model))
                {
                    @if (!Model.MPRNExist || !Model.IsAddressMatch)
                    {
                        <flow-action class="btn btn-primary mt-5"
                                     id="btnReEnterMPRN"
                                     trigger-event="@ShowMovingHouseReEnterPrnError.StepEvent.ReEnterMprn">Re-enter MPRN</flow-action>
                    }
                }
            </div>
        </div>
    </div>
</main>
