@using EI.RP.WebApp.Infrastructure.Extensions
@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.AccountsPaymentConfiguration.FlowDefinitions
@using EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps
@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.Step5ReviewAndComplete.ScreenModel

@functions
{
    enum PageComponent
    {
        MovingHouseHeader = 1,
    }
}

@{
    const string partialViewsLocationPrefix = "./Step5PartialViews/";

    AccountsPaymentConfigurationResult.AccountConfigurationInfo primaryAccount = Model.PaymentInfo.First(x => !x.IsNewAccount);
    AccountsPaymentConfigurationResult.AccountConfigurationInfo secondaryAccount = null;
    if (Model.PaymentInfo.Count() > 1)
    {
        secondaryAccount = Model.PaymentInfo.Last(x => x != primaryAccount);
    }

    var componentPreLoader = new ComponentPreLoader<PageComponent>(Component, Model);

    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.AppFlows.MovingHouse.Components.MovingHouseHeader.Component>(PageComponent.MovingHouseHeader,
        new EI.RP.WebApp.Flows.AppFlows.MovingHouse.Components.MovingHouseHeader.InputModel
        {
            MovingHouseType = Model.MovingHouseType,
            StepNumber = 5
        });
}

<main class="plan" data-page="mimo-5-review-and-complete">
    <div class="container">
        <div class="portal-details">
            @await componentPreLoader.Render(PageComponent.MovingHouseHeader)
            <h2 id="reviewDetailsHeader">Review your details</h2>
            <div class="moving-form">
                <p id="reviewDetailsContent">You're almost done, please review and confirm the details of your move</p>
            </div>

            @await Html.PartialAsync($"{partialViewsLocationPrefix}_AccountDetails.cshtml", Model)

            @await Html.PartialAsync($"{partialViewsLocationPrefix}_PropertyDetails.cshtml", Model)

            @await Html.PartialAsync($"{partialViewsLocationPrefix}_MovingDatesAndMeterReadings.cshtml", Model)

            @await Html.PartialAsync($"{partialViewsLocationPrefix}_PaymentMethods.cshtml", Model)

            @await Html.PartialAsync($"{partialViewsLocationPrefix}_PricePlan.cshtml", Model)

            <div class="moving-form">
                <div class="portal-details__form__buttons">
                    @using (await Html.BeginUiFlowFormAsync(Model))
                    {
                        <flow-action class="btn btn-primary" id="btnCompleteMoveHouse"
                                     trigger-event="@Step5ReviewAndComplete.StepEvent.RequestCompleteMoveHouse">Complete House Move</flow-action>
                    }
                    <a href="#" data-toggle="modal" data-target="#modal-cancel-mimo" class="btn btn-xs btn--no-before btn--no-after btn--no-padding green">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</main>

@await Html.PartialAsync($"./SharedPartialViews/_Popup_Cancel.cshtml", Model)
