@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.Step5ConfirmationScreen.ScreenModel

@{
    const string partialViewsLocationPrefix = "./Step5PartialViews/";
}

<main class="help plan" data-id="mStep5Confirmation" data-page="mimo-5-confirm">
    <div class="container">
        <div class="portal-details">
            <h2>Confirmation</h2>
            <hr />
            <div class="moving-form">
                @if (!string.IsNullOrEmpty(Model.ElectricityAccountNumber))
                {
                    <div class="form-number mt-4 mb-4" data-id="h3AccountNumberE">
                        <span class="form-info">Electricity </span><span>@Model.ElectricityAccountNumber</span>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.GasAccountNumber))
                {
                    <div class="form-number mt-4 mb-4" data-id="h3AccountNumberG">
                        <span class="form-info">Gas </span><span>@Model.GasAccountNumber</span>
                    </div>
                }
                @if (!string.IsNullOrEmpty(Model.ElectricityAccountNumber) && string.IsNullOrEmpty(Model.ElectricityAccountBalance) 
                     || !string.IsNullOrEmpty(Model.GasAccountNumber) && string.IsNullOrEmpty(Model.GasAccountBalance))
                {
                    <p class="mb-2">Your final bill should issue within 3 working days.</p>
                }
            </div>
            @await Html.PartialAsync($"{partialViewsLocationPrefix}_Step5ConfirmationPanel.cshtml", Model)
        </div>
    </div>
</main>
