@using EI.RP.WebApp.Infrastructure.Extensions
@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps
@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.Step3InputMoveInPropertyDetails.ScreenModel

@functions
{
    enum PageComponent
    {
        MovingHouseHeader = 1,
    }
}

@{
    const string sharedPartialViewsLocationPrefix = "./SharedPartialViews/";

    var componentPreLoader = new ComponentPreLoader<PageComponent>(Component, Model);

    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.AppFlows.MovingHouse.Components.MovingHouseHeader.Component>(PageComponent.MovingHouseHeader,
        new EI.RP.WebApp.Flows.AppFlows.MovingHouse.Components.MovingHouseHeader.InputModel
        {
            MovingHouseType = Model.MovingHouseType,
            StepNumber = 3
        });
}

<main class="plan" data-page="mimo-3">
    <div class="container">
        <div class="portal-details">
            @await componentPreLoader.Render(PageComponent.MovingHouseHeader)
            @using (await Html.BeginUiFlowFormAsync(Model, className: "moving-form date-form"))
            {
                <h2 class="landing-head" data-testid="mimo-3-title">New Property Details</h2>
                <span class="form-info" data-testid="mimo-3-info">* Denotes mandatory fields</span>
                <hr class="mt-5 mb-5" aria-hidden="true"/>

                @await Html.PartialAsync($"{sharedPartialViewsLocationPrefix}_MoveInOutDatePart.cshtml", Model)
                <hr class="mt-5 mb-5" aria-hidden="true" />

                <div class="form-group w-100 mt-5 mb-5">
                    <div class="w-100 form-group no-margin mt-0 mb-4">
                        <label id="lblContactNumber" for="step3ContactNumber">Contact Phone Number *<button type="button" class="portal-details__form__info__icon border-0" aria-label="Information about Contact Phone Number" data-toggle="tooltip" data-placement="right" title="" data-original-title="Please include your area code if providing a landline number."></button></label>
                        @Html.TextBoxFor(model => model.ContactNumber, new { @class = "form-control w-100", type = "tel", name = "new-property-phone", id = "step3ContactNumber", placeholder = "Contact Phone Number" })
                        @Html.ValidationMessageFor(model => model.ContactNumber, "", new { @class = "alert alert-form alert-danger w-100", id = "contactNumberError" })
                    </div>
                </div>
                <hr class="mt-5 mb-5" aria-hidden="true"/>

                <div id="movingHouseMeterReadings">
                    @await Html.PartialAsync($"{sharedPartialViewsLocationPrefix}_ElectricityMeterReadingsPart.cshtml", Model)
                    @await Html.PartialAsync($"{sharedPartialViewsLocationPrefix}_GasMeterReadingsPart.cshtml", Model)
                </div>
                <hr class="mt-5 mb-5" aria-hidden="true"/>

                @await Html.PartialAsync($"{sharedPartialViewsLocationPrefix}_AcknowledgmentsPart.cshtml", Model)

                <div class="portal-details__form__buttons mt-5">
                    <flow-action class="btn btn-primary" id="btnNextPaymentOptions"
                                 trigger-event="@Step3InputMoveInPropertyDetails.StepEvent.ToStep4">Next - Payment Options</flow-action>
                    <a id="btnCancel" href="#" data-toggle="modal" data-target="#modal-cancel-mimo" class="btn btn-xs btn--no-before btn--no-after btn--no-padding green">Cancel</a>
                </div>
            }
        </div>
    </div>
</main>

@await Html.PartialAsync($"./SharedPartialViews/_Popup_Cancel.cshtml", Model)
@await Html.PartialAsync($"./SharedPartialViews/_Popup_MeterReadings.cshtml", Model)
