@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Infrastructure.Extensions

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.Step0OperationSelection.ScreenModel

@{
    const string partialViewsLocationPrefix = "./Step0PartialViews/";
}

<main class="plan" data-page="mimo-0">
    <div class="container">
        <div class="portal-details mw-100">
            <h2 class="landing-head">Moving House</h2>
            <hr aria-hidden="true"/>
        </div>

        @await Html.PartialAsync($"{partialViewsLocationPrefix}_Header.cshtml", Model)

        @await Html.PartialAsync($"{partialViewsLocationPrefix}_AddressDetail.cshtml", Model)

        <div class="landing options" data-testid="mimo-0-options">
            <h3>Please select one of the following options:</h3>
            @using (await Html.BeginUiFlowFormAsync(Model))
            {
                <div class="row align-items-stretch">
                    @if (Model.ElectricityAccountNumber != null && Model.GasAccountNumber != null)
                    {
                        @await Html.PartialAsync($"{partialViewsLocationPrefix}_ElectricityAndGasOptions.cshtml", Model)
                    }
                    else if (Model.ElectricityAccountNumber != null)
                    {
                        @await Html.PartialAsync($"{partialViewsLocationPrefix}_ElectricityOnlyOptions.cshtml", Model)
                    }
                    else if (Model.GasAccountNumber != null)
                    {
                        @await Html.PartialAsync($"{partialViewsLocationPrefix}_GasOnlyOptions.cshtml", Model)
                    }
                </div>
            }
        </div>
    </div>
</main>

@using (await Html.BeginUiFlowFormAsync(Model))
{
    @await Html.PartialAsync($"{partialViewsLocationPrefix}_Popup.cshtml", Model)
}
