@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.AppFlows.EnergyServicesAccountOverview.Steps.Main.ScreenModel

@functions
{
    enum PageComponent
    {
        EnergyServicesBillingDetails = 1,
        BillsAndPaymentsTable
    }
}

@{
    var componentPreLoader = new ComponentPreLoader<PageComponent>(Component, Model);
    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.AppFlows.EnergyServicesAccountOverview.Components.EnergyServicesBillingDetails.Component>(PageComponent.EnergyServicesBillingDetails,
        new EI.RP.WebApp.Flows.AppFlows.EnergyServicesAccountOverview.Components.EnergyServicesBillingDetails.InputModel
        {
            AccountNumber = Model.AccountNumber
        });
    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.SharedFlowComponents.Main.BillsAndPaymentsTable.Component>(PageComponent.BillsAndPaymentsTable,
        new EI.RP.WebApp.Flows.SharedFlowComponents.Main.BillsAndPaymentsTable.InputModel
        {
            NumberPagingLinks = 4,
            AccountNumber = Model.AccountNumber,
            ContainedInFlowType = ResidentialPortalFlowType.AccountsPaymentConfiguration,
            IsPagingEnabled = true,
            PageIndex = Model.PageIndex,
            PageSize = 6
        });
}

<main class="payment" data-page="energy-services-account-overview">
    <div class="container">
        <div class="portal-details text-center">
            @await componentPreLoader.Render(PageComponent.EnergyServicesBillingDetails)
            @await componentPreLoader.Render(PageComponent.BillsAndPaymentsTable)
            <div class="portal-details__note text-left mt-5" data-testid="energy-services-account-overview-contact-us">
                <p class="font-weight-bold">Contact Us</p>
                <p>Call a member of our team on <strong>1850 372 333</strong> or email <a href="mailto:homeservices@electricireland.ie" data-testid="energy-services-account-overview-contact-us-link">homeservices@electricireland.ie</a>.</p>
            </div>
        </div>
    </div>
</main>
