
@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.woff2') format('woff2'),
        url('fonts/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('fonts/Helvetica-Bold.woff2') format('woff2'),
        url('fonts/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLight';
    src: url('fonts/Helvetica-Light.woff2') format('woff2'),
        url('fonts/Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'StRydeLight';
    src: url('fonts/StRyde-Light.woff2') format('woff2'),
        url('fonts/StRyde-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'StRydeMedium';
    src: url('fonts/StRyde-Medium.woff2') format('woff2'),
        url('fonts/StRyde-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'StRyde';
    src: url('fonts/StRydeRegular.woff2') format('woff2'),
        url('fonts/StRydeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
