//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  position: relative;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  &.with-footer {
    min-height: 100vh;
    padding-bottom: 137px;

    @include breakpoint(991px) {
      padding-bottom: 423px;
    }
  }
}

img {
  max-width: 100%;
}

.vCenter {
  display: inline-table;
  height: 100%;
  width: 100%;
}

.vCenterKid {
  display: table-cell;
  vertical-align: middle;
}

::-moz-selection {
  background: $grey-dark;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: $grey-dark;
  color: #fff;
  text-shadow: none;
}

.component {
  margin: 5rem 0;
}

.bg {
  background-color: $blue;
  padding: 2rem;
}

.bg-lighter {
  background-color: #009fda;
  padding: 2rem;
}

.center-on-mobile {
	@include breakpoint(991px) {
    text-align: center;
  }
}

.full-width-on-mobile {
  @include breakpoint(991px) {
    width:100% !important;
  }
}

// Width Setting
// =========================

.narrow {max-width: 512px; margin: 0 auto;}

.help-and-support-grid {
  max-width:650px !important;
}

// Accessibility
// =========================

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
