//       SUMMARY TABLE     
// =========================
// 1. Colors
// 2. Fonts
// 3. Animations
// 4. Values
// =========================


// 1. Colors
// =========================
$green: #098000;
$blue: #0075b0;
$danger: #a30050;
$warning: #c84f00;

$black: #2C2E2F;
$grey-dark: #232323;
$grey: #525252;
$grey-mid: #A59D95;
$grey-light: #aaaaaa;

$silver: #e0e0e0;
$silver-light: #f4f4f4;

$efficiency-green: #B6BF00;
$warm-yellow: #ECC200;
$bright-orange: #E98300;
$deep-pink: #A30050;
$deep-jade: #007A87;
$deep-purple: #6E267B;
$bright-emerald: #00A599;


// 2. Fonts
// =========================


// 3. Animations
// =========================
$smooth : cubic-bezier(0.15, 0.9, 0.34, 0.95);
$smooth2: cubic-bezier(0.645, 0.045, 0.355, 1);
$sharp : cubic-bezier(0.40,0.00,0.60,1.00);


// 4. Values
// =========================
