@using S3.UiFlows.Mvc.Components
@using S3.App.Flows.AppFlows
@using S3.UiFlows.Core.Registry

@inject IFlowsRegistry FlowsRegistry
@model S3.App.Models.SampleFlowContainerViewModel

@{
	ViewData["Title"] = "FlowContainer";
}

<h2>FlowContainer</h2>

@foreach (var flowType in FlowsRegistry.AllFlows.Select(x => x.Name)
	.Where(x => x != "ContainersFlow"))
{
	if (flowType != Model.GetContainedFlow())
	{

		<flow-action action-type="StartFlow"
		             flow-name="@flowType"
		             flow-location="ContainedInMe">@flowType.ToString()</flow-action>
		<b>||</b>

	}
}

@*NOTE!!!: this is the flow view inside the container*@
<vc:embedded-flow input=@(new EmbeddedFlowComponent.ComponentParameters{Model=Model}) />
