@using S3.Mvc.Core.Controllers
@using S3.UiFlows.Mvc.Controllers
@using Microsoft.AspNetCore.Mvc.Rendering
@using S3.App.Controllers
@using S3.App.Flows.AppFlows

@{
	ViewData["Title"] = "Home Page";
}
<b>Index Page</b>
<div id="flows">
	<b>Flows:</b>
	@Html.ActionLink("Container of flows that is not a flow", nameof(SampleFlowContainerController.Index), typeof(SampleFlowContainerController).GetNameWithoutSuffix())<br />
	@foreach (var flowType in Enum.GetValues(typeof(SampleAppFlowType)).Cast<SampleAppFlowType>())
	{
		var linkText = flowType == SampleAppFlowType.NoFlow ? $"{nameof(SampleAppFlowType.NoFlow)} should 404" : flowType.ToString();
		<br />
		<flow-action action-type="StartFlow" flow-name=@flowType.ToString()>@linkText</flow-action>
	}
</div>
<br />
<br />
<b>UI Flow Definitions:</b>
@foreach (var flowType in Enum.GetValues(typeof(SampleAppFlowType)).Cast<SampleAppFlowType>().Where(x => x != SampleAppFlowType.NoFlow))
{
	<br />
	@Html.ActionLink($"Flow {flowType}", nameof(UiFlowController.DotGraph), flowType.ToString())

}

