<div class="loading-overlay" data-loading-overlay>
    <div class="loading-overlay__label" data-loading-overlay-label>Please wait...</div>
</div>
<div class="sr-only" data-loading-overlay-sr aria-live="assertive"></div>
<script src="~/js/components/loading-overlay.js"></script>
