@using EI.RP.UiFlows.Mvc.Components.PreLoad

@functions
{
    enum PageComponent
    {
        Header = 1
    }
}

@{
    ViewBag.Title = "Help & FAQ";

    var componentPreLoader = new ComponentPreLoader<PageComponent>(Component, Model);

    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.SharedFlowComponents.Main.Header.Component>(PageComponent.Header,
        new EI.RP.WebApp.Flows.SharedFlowComponents.Main.Header.InputModel
        {
            Title = "Help & FAQs"
        });
}

<div class="position-relative">
    <div class="sub-navigation-overlay"></div>
    <main class="help" data-page="help">
        <div class="help__header">
            @await componentPreLoader.Render(PageComponent.Header)
        </div>
        @await Html.PartialAsync("~/Views/Static/Partials/_HelpContent.cshtml")
    </main>
</div>
