@using EI.RP.WebApp.Flows.AppFlows

@model EI.RP.WebApp.Flows.AppFlows.CompetitionEntry.Steps.CompetitionEntry.ScreenModel

<div data-testid="competition-entry-success-message">
    <div class="heading-medium success-msg">@Model.AlreadyEnteredMessage</div>
    <div class="mt-3 mb-5">
        <flow-action id="dds_<_back_to_my_accounts"
                     class="btn btn-xs btn-xs-back green"
                     data-testid="competition-entry-success-back-to-accounts"
                     action-type="StartFlow"
                     flow-name="@ResidentialPortalFlowType.Accounts"
                     flow-location="NotContained">Back to My Accounts</flow-action>
    </div>
</div>
