@using EI.RP.WebApp.Flows.AppFlows

<div data-testid="competition-entry-success-message" class="text-center">
    <div class="heading-medium success-msg">
        <p class='small-p'><h2>Thank you for your submission</h2></p>
        <p class='small-p'><h2>All customers on paperless billing and direct debit will receive additional entry points. If you are not signed up already, you can increase your chances of winning by signing up under “Bills & Payments” menu.</h2></p>
        <p class='small-p'><h2>Winners will be contacted at the end of each monthly draw and will be announced on our website.</h2></p>
        <p class='small-p'><h2>Best of luck!</h2></p>
    </div>
    <div class="mt-3 mb-5">
        <flow-action id="dds_<_back_to_my_accounts"
                     class="btn btn-xs btn-xs-back green"
                     data-testid="competition-entry-success-back-to-accounts"
                     action-type="StartFlow"
                     flow-name="@ResidentialPortalFlowType.Accounts"
                     flow-location="NotContained">Back to My Accounts</flow-action>
    </div>
</div>
