.competition-wrap {
  max-width: 730px;
  .success-msg {
    font-size:2.2rem;
    line-height:1.365;
    letter-spacing: -0.5px;
    color: $green;
    margin-top:4rem;
    margin-bottom:5rem;
  }
}
