//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.page {
  position: relative;

  &-loading {
    height: 100vh;
    height: calc((var(--vh, 1vh) * 100));
    display: flex;
    align-items: center;

    h1 {
      font-family: 'StRyde';
      max-width: 500px;
      margin: 0 auto 6rem auto;
      line-height: 5.5rem;

      @include breakpoint(600px) {
        max-width: 73%;
        line-height: 3.5rem;
      }
    }

    .progress {
      width: 636px;
      margin: 0 auto;
      background-color: #ebebeb;
      height: 2rem;
      border-radius: 100px;
      max-width: 90%;
      padding-left: 0.4rem;
      padding-right: 0.4rem;

      .progress-bar {
        height: 1.2rem;
        margin-top: .4rem;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        @include transition(none);

        &.loaded {
          border-top-right-radius: 100px;
          border-bottom-right-radius: 100px;
        }
      }

      &-status {
        color: $grey;
        font-family: 'Helvetica';
        font-size: 2rem;
        text-align: center;
        display: table;
        margin: 2.7rem auto 0 auto;

        @include breakpoint(600px) {
          margin-top: 1.5rem;
        }
      }
    }
  }

  .logo {
    position: absolute;
    top: 2.5rem;
    left: 3.5rem;

    @include breakpoint(991px) {
      width: 95px;
      height: 46px;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  &-title {
    font-family: 'StRyde';
    text-align: center;
  }

  &-container {
    max-width: 720px;
    position: relative;

    &--full {
      padding-bottom: 50px;
    }

    @include breakpoint(991px) {
      position: initial;
      padding-bottom: 30px;
    }
  }

  p {
    font-size: 1.8rem; font-family: 'Helvetica', arial, sans-serif;

    &.your-plan {color: $blue; font-family: 'StRyde'; font-weight: bold; font-size: 1.8rem;}
    &.large {font-size: 2.2rem;}
    &.tick {
      padding-left: 0;
      display: flex; 
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      
      &::before {
        content: '';
        background: url('../img/check-green.svg') no-repeat;
        width: 2.5rem;
        height: 1.3rem;
        background-size: auto 100%;
        top: 0.6rem;
      }
    }

    &.text-muted {
      font-size: 1.4rem;
      line-height: 1.8rem;

      a {
        color: $green;
        text-decoration: underline;
      }
    }

    @include breakpoint(991px) {
      font-size: 1.8rem;
    }
  }

  .btn-container {
    margin-top: 5rem;

    &--center {
      text-align: center;
    }
  }

  .btn-page-submit {
    min-width: 32rem;

    @include breakpoint(991px) {
      display: table;
      margin: 0 auto 3rem auto;
      min-width: 25rem;

      &.align-left {margin: 0 0 3rem 0}
    }
  }

  .btn-page-cancel {
    margin-left: 3rem;
    font-size: 1.6rem;

    @include breakpoint(991px) {
      text-align: center;
      display: table;
      margin: 0 auto 3rem auto;

      &.align-left {margin: 0 0 3rem 0}
    }
  }
}

.arrow-back {
  position: absolute;
  height: 2.2rem;
  width: 2.2rem;
  display: block;
  top: 1.5rem;
  left: -8rem;
  font-size: 0;

  span {
    display: block;
    height: 100%;
    width: 100%;
    background: url(../img/arrow-back.svg) no-repeat center;
    background-size: contain;
    @include transition(all 0.6s $smooth);
  }

  @include breakpoint(991px) {
    left: 1.2rem;
    top: 4rem;
  }

  &:hover {
    span {
      @include transform(translateX(-7px));
    }
  }
}


.steps {
  display: flex;
  margin: 0 auto;
  padding: 5rem 0 7rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;

  @include breakpoint(991px) {
    padding: 9rem 0 4rem 0;
  }

  .step {
    height: 5.5rem;
    width: 5.5rem;
    padding: 0;

    @include breakpoint(991px) {
      height: 5rem;
      width: 5rem;
      margin-left: -1rem;
    }

    &:before {
      display: none;
    }

    &__link {
      color: #fff;
      display: block;
      font-family: 'Arial';
      font-size: 1.4rem;
      height: 100%;
      line-height: 5.5rem;
      text-align: center;
      width: 100%;
      pointer-events: none;

      @include breakpoint(991px) {
        line-height: 5rem;
      }

      &:before {
        content: '';
        display: block;
        background-color: rgba(165, 157, 149, 0.4);
        height: 3rem;
        width: 3rem;
        position: absolute;
        top: 50%;
        border-radius: 50%;
        left: 50%;
        z-index: -1;
        @include transform(translateX(-50%) translateY(-50%));

        @include breakpoint(991px) {
          height: 2.5rem;
          width: 2.5rem;
        }
      }
    }

    &.done {
      opacity: 0.4;

      .step__link {
        font-size: 0;

        &:before {
          background-color: $green;
          height: 2.5rem;
          width: 2.5rem;
        }

        &:after {
          content: '';
          display: block;
          height: 1.8rem;
          width: 1.8rem;
          background: url(../img/tick-white.svg) no-repeat center;
          background-size: contain;
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translateX(-50%) translateY(-50%));
        }
      }
    }

    &.active {
      margin: 0 1rem;

      @include breakpoint(991px) {
        margin-left: 0;
      }

      .step__link {
        font-weight: bold;
        font-size: 1.8rem;

        &:before {
          height: 5.5rem;
          width: 5.5rem;
          background-color: $blue;

          @include breakpoint(991px) {
            height: 5rem;
            width: 5rem;
          }
        }
      }
    }
  }
}

.direct-debit {
  .form-group {
    margin: 1.5rem auto;
    position: relative;
  }

  .custom-select {
    border-radius: 4px;
    border: 1px solid $grey-light;
  }

  .btn-warning {
    position: absolute;
    top: 50%;
    font-size: 0;
    right: 2rem;
    @include transform(translateY(-50%));
  }
}




.billing {
  & > .row {
    align-items: flex-start;
  }

  .custom-control-label {
    font-family: 'Helvetica';

    span {
      color: $grey-dark;
      display: block;
      margin-top: 0.9rem;
      max-width: 95%;
      font-size: 1.8rem;
      font-family: 'Helvetica';

      @include breakpoint(991px) {
        max-width: 88%;
      }

      strong {
        font-family: 'Helvetica';
      }
    }
  }
}


.phone {
  p {
    font-family: 'Arial';
    font-size: 2rem;
    line-height: 2.6rem;
  }

  &__link {
    color: $blue;
    display: table;
    margin: 0 auto 1rem auto;
    font-family: 'Arial';
    font-size: 4.5rem;
    line-height: 1;

    @include breakpoint(600px) {
      font-size: 3rem;
    }

    svg {
      display: inline-block;
      vertical-align: top;

      @include breakpoint(600px) {
        height: 3rem;
        width: 3rem;
      }

      path {
        fill: $blue;
      }
    }

    &:hover {
      color: $grey-dark;

      svg {
        path {
          fill: $grey-dark;
        }
      }
    }
  }

  span {
    color: $grey;
    font-family: 'Arial';
    font-size: 1.6rem;
    display: block;

    @include breakpoint(600px) {
      font-size: 1.4rem;
      max-width: 15rem;
      margin: 0 auto;
    }
  }
}


.smart-meter {
  background: url(../img/smart-meter.jpg) no-repeat top center;
  background-size: 100% auto;
  padding-top: 12rem;
  padding-bottom: 8rem;

  .align-auto {
    display: table;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint(767px) {
      width: 90%!important;
      margin-top: 3rem;
      font-size: 1.8rem;
    }
  }

  .accordion {
    border-bottom: 1px solid rgba(0, 117, 176, 0.25);
    background: none;
    margin: 7rem auto 9rem auto;
    width: 53rem;

    @include breakpoint(767px) {
      width: 100%;
    }

    .card-header {
      border-top: 1px solid rgba(0, 117, 176, 0.25);
      border-bottom: none;
      background: none;
      margin: 0;
      border-radius: 0;
      padding-left: 1rem;
      position: relative;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-right: 6rem;

      a {
        padding-left: 0;
        width: 100%;
        display: block;
        font-family: 'Helvetica';
        font-size: 1.8rem;
        color: $blue;
        text-decoration: none;
        outline: none;
        line-height: 2.2rem;
        background: none;
        -webkit-appearance: none;
        border: none;
        text-align: left;
        position: relative;


        &:after {
          content: '';
          display: block;
          height: 1.6rem;
          width: 1.6rem;
          background: url(../img/arrow-blue-darker.svg) no-repeat center;
          background-size: contain;
          position: absolute;
          top: 0.4rem;
          right: -5rem;
          @include transform(rotate(-90deg));
        }

        &.collapsed {
          &:after {
            @include transform(rotate(90deg));
          }
        }
      }
    }

    .card-body {
      padding-left: 1rem;

      p {
        font-size: 1.8rem;
      }
    }
  }

  .small-spacing {
    letter-spacing: -0.7px;

    @include breakpoint(991px) {
      letter-spacing: -0.9px;
    }
  }

  &__head {
    max-width: 57rem;
    margin: 7rem auto;

    &.larger {
      max-width: 67rem;
    }

    p {
      margin-bottom: 3rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(767px) {
      margin-bottom: 0;
    }
  }

  .good-signal {
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 5.5rem;
      width: 5.5rem;
      position: absolute;
      top: -6rem;
      left: 50%;
      @include transform(translateX(-50%));
      background: url(../img/good_signal.svg) no-repeat center;
      background-size: contain;
    }
  }

  .poor-signal {
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 5.5rem;
      width: 5.5rem;
      position: absolute;
      top: -6rem;
      left: 50%;
      @include transform(translateX(-50%));
      background: url(../img/no_signal.svg) no-repeat center;
      background-size: contain;
    }
  }

  .low-signal {
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 5.5rem;
      width: 5.5rem;
      position: absolute;
      top: -6rem;
      left: 50%;
      @include transform(translateX(-50%));
      background: url(../img/weak_signal.svg) no-repeat center;
      background-size: contain;
    }
  }

  .nav-tabs {
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: 5rem;

    @include breakpoint(991px) {
      .nav-item {
        margin: 0 0.5rem;
        width: 46%;
      }
    }

    .nav-link {
      background-color: transparent;
      color: $grey;
      font-family: 'Helvetica';
      @include transform(translateY(0));
      padding: 2rem 0 0 0;
      border-radius: 0;
      width: 22rem;
      margin: 0 1rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 2.2rem;
      position: relative;
      @include transition(all 0.3s ease);

      @include breakpoint(991px) {
        width: 100%;
        font-size: 1.8rem;
        margin: 0;
        padding: 1rem 0 0 0;
      }

      @include breakpoint(320px) {
        font-size: 1.4rem;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        opacity: 0.3;
        background-color: $grey;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #009fda;
        transform-origin: center;
        @include transform(scaleX(0));
        @include transition(all 0.5s $smooth);
      }

      &:hover {
        background-color: transparent;
        color: $blue;
      }

      span {
        display: table;
        margin: 0 auto;
      }

      &.active {
        background-color: transparent;
        font-family: 'HelveticaBold';
        color: $blue;
        padding: 2rem 0 0 0;

        @include breakpoint(991px) {
          padding: 1rem 0 0 0;
        }

        &:after {
          @include transform(scaleX(1));
        }
      }
    }
  }


  @include breakpoint(600px) {
    background-image: url(../img/smart-meter-mobile.jpg);
    background-position: center -15%;
  }

  @include breakpoint(375px) {
    background-position: center -10%;
  }

  @include breakpoint(320px) {
    background-position: center -5%;
  }

  h1 {
    font-family: 'StRyde';
    margin-bottom: 5.5rem;
  }

  .container {
    max-width: 845px;
  }

  .price-plans {
    margin-bottom: 13rem;

    @include breakpoint(767px) {
      margin-bottom: 0;
      padding-bottom: 8rem;
    }
  }

  .text-bottom {
    font-size: 1.6rem;
    margin-bottom: 2rem;

    @include breakpoint(991px) {
      font-size: 1.4rem;
    }

    @include breakpoint(320px) {
      font-size: 1.1rem;
    }
  }

  .free-message {
    color: $green;
    font-size: 1.6rem;
    font-family: 'HelveticaBold';
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin-top: 1rem;

    @include breakpoint(767px) {
      font-size: 1.4rem;
    }
  }

  .plan-details {
    background-color: rgba(165, 157, 149, 0.1);
    width: calc(100% + 7.7rem);
    @include transform(translateX(-3.6rem));
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
    padding: 2.5rem 5rem 2rem 4.5rem;
    @include transition(all 0.3s ease);

    ul {
      margin-bottom: 0;
    }

    a {
      color: $green;
      font-family: 'HelveticaBold';
      font-size: 1.8rem;
      display: block;
      position: relative;

      &:after {
        content: '';
        display: block;
        height: 2rem;
        width: 2rem;
        background: url(../img/arrow-green.svg) no-repeat center;
        background-size: contain;
        position: absolute;
        top: 0.5rem;
        right: 0;
        @include transform(rotate(-90deg));
      }

      &.collapsed {
        &:after {
          @include transform(rotate(90deg));
        }
      }
    }

    @include breakpoint(768px) {
      width: calc(100% + 6rem);
      @include transform(translateX(-3rem));
    }

    @include breakpoint(767px) {
      width: calc(100% + 4.2rem);
      @include transform(translateX(-2.1rem));
      padding: 2.5rem 3.5rem 2rem 3rem;

      ul li {
        font-size: 1.6rem!important;
      }
    }
  }

  .plans {
    &__box {
      height: 100%;
      background-color: #ffffff;
      border: 1px dotted #c9c9c9;
      text-align: left;
      padding: 3.5rem 4rem 4rem 3.5rem;
      box-shadow: none;

      .btn {

        &:before, &:after {
          @include transition(transform 0.4s $smooth);
        }
      }

      &.fade--out {
        background-color: #f1f1f1;

        .btn {
          background-color: #f1f1f1!important;
          color: $green!important;

          &:before, &:after {
            @include transition(transform 0.4s $smooth);
            background-image: url(../img/circle-green.svg);
          }
        }

        h2 {
          color: $grey !important;
        }
      }

      @include breakpoint(768px) {
        padding: 3.5rem 3rem;
      }

      @include breakpoint(767px) {
        height: auto;
        padding: 3.5rem 2rem;
        box-shadow: 0px 0px 40px rgba(0,0,0,0.3);
        border-color: transparent;

        &:after {
          display: block!important;
          width: calc(100% + 2px);
          left: -1px;
          height: 19px;
          bottom: -20px;
        }

        .btn {
          font-size: 1.8rem!important;
        }

        p {
          text-align: center;
        }
      }

      &:hover {
        .btn {
          background-color: $green!important;
          color: #fff!important;

          &:before, &:after {
            @include transition(transform 0.4s $smooth);
            background-image: url(../img/circle-white.svg);
          }
        }

        h2 {
          color: $blue!important;
        }
      }

      @include breakpoint(320px) {
        .btn {
          font-size: 1.4rem!important;
        }
      }

      @media screen and (min-width: 768px) {
        .btn-bottom {
          position: absolute;
          bottom: 4.5rem;
          width: calc(100% - 6rem);
        }
      }

      @media screen and (min-width: 769px) {
        .btn-bottom {
          position: absolute;
          bottom: 4.5rem;
          width: calc(100% - 8rem);
        }
      }

      &:after {
        display: none;
      }

      h2 {
        font-family: 'StRyde';
        font-size: 3rem;
        margin-bottom: 2.2rem;

        &.text-grey {
          color: $grey;
        }
      }

      h3 {
        color: $grey;
        font-family: 'StRyde';
        font-size: 2.6rem;
        margin-bottom: 3.2rem;
        margin-top: 0.8rem;

        @include breakpoint(767px) {
          font-size: 3rem;
          margin-bottom: 2.2rem;
          margin-top: 0;
          color: $blue;
        }
      }

      ul {
        padding: 0;

        li {
          color: $grey;
          padding-left: 4rem;
          font-family: 'Helvetica';
          margin-bottom: 2.8rem;
          line-height: 2.2rem;
          font-size: 1.8rem;

          &:before {
            height: 2.8rem;
            width: 2.8rem;
            background-image: url(../img/icon-check-list.svg);
            top: -0.2rem;
            filter: grayscale(1);
            opacity: 0.5;

            @include breakpoint(767px) {
              filter: grayscale(0);
              opacity: 1;
            }
          }

          strong {
            font-family: 'HelveticaBold';
          }
        }
      }

      &.active {
        box-shadow: 0px 0px 60px rgba(0,0,0,0.3);
        border-color: transparent;

        @include breakpoint(767px) {
          box-shadow: 0px 0px 40px rgba(0,0,0,0.3);
        }

        &:after {
          display: block;
          width: calc(100% + 2px);
          left: -1px;
          height: 19px;
          bottom: -20px;
        }

        ul li:before {
          filter: grayscale(0);
          opacity: 1;
        }
      }
    }
  }



  &--small_header {
    background: none;
    position: relative;
    padding-top: 18rem;
    margin-bottom: 0!important;

    @include breakpoint(767px) {
      .form-check .custom-control-label {
        margin-left: 1rem;
      }

      .form-check--border.form-radio .custom-control-label:after {
        right: -4rem;
      }

      .form-check--border.form-radio .custom-control-label:before {
        right: -3.6rem;
      }

      &.mobile-text {
        padding-top: 12rem;

        h1 {
          margin-bottom: 1rem;
        }

        p.text-white {
          font-family: 'Helvetica';
          line-height: 26px;
          margin-bottom: 10rem;
        }
      }


    }

    .label-form {
      font-size: 1.8rem;
    }

    .btn-page-submit {
      margin-top: 2rem;
    }

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 300px;
      opacity: 0.4;
      background-image: linear-gradient(0deg, #ffffff 1%, #f0f0f0 100% );
      background-position: center center;
      background-size: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      @include transform(rotate(180deg));
      z-index: -1;
    }

    .nav-tabs .nav-link {
      font-size: 1.7rem;
    }

    @include breakpoint(991px) {
      padding-top: 17rem;

      .plans__box .btn {
        font-size: 1.7rem!important;
        letter-spacing: -0.6px;
      }
    }

    @include breakpoint(767px) {
      .plans__box .btn {
        letter-spacing: -0.9px;
        font-size: 1.6rem!important;
      }
    }

    @include breakpoint(320px) {
      .plans__box .btn {
        letter-spacing: -1.2px;
        font-size: 1.3rem!important;
      }
    }

    @include breakpoint(768px) {
      .plans__box .btn-bottom {
        width: calc(100% - 6rem);
        bottom: 8rem;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    @media screen and (min-width: 769px) {
      .plans__box .btn-bottom {
        width: calc(100% - 6rem);
        bottom: 8.5rem;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .plans__box__link {
      bottom: 0;
      top: auto;
      height: 14rem;
    }

    .container {
      max-width: 880px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 320px;
      width: 100%;
      background: url(../img/smart-meter-small.jpg) no-repeat bottom center;
      background-size: cover;
      z-index: -1;

      @include breakpoint(991px) {
        height: 250px;
        background-image: url(../img/smart-meter-small-mobile.jpg);
      }
    }

    &.mobile-text {
      &:before {
        @include breakpoint(767px) {
          height: 335px;
        }
      }
    }

    h1 {
      margin-bottom: 15rem;

      @include breakpoint(991px) {
        margin-bottom: 8rem;
      }
    }
  }
}


.smart-meter .btn-primary {
  &:before, &:after {
    border-radius: 0;
    background: url(../img/circle-white.svg) no-repeat center;
    background-size: 4rem;
  }
}

.smart-meter .btn-secondary {
  &:before, &:after {
    border-radius: 0;
    background: url(../img/circle-green.svg) no-repeat center;
    background-size: 4rem;
  }
}

.setup-dd--list {
  margin: 0 auto;
  display: table;

  li {
    padding-left: 0;
    font-family: 'HelveticaLight', Arial, sans-serif; line-height: 2;
    font-weight: 300;

    strong {
      font-family: 'Helvetica', Arial, sans-serif;
      font-weight: 600;
    }

    .regular {
      font-family: 'Helvetica', Arial, sans-serif;
      font-weight: 400;
    }
  }
  
  ::before {
    display: none;
  }
}

.setup-dd--table {
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: 400;

  strong {
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: 600;
  }
}

.summary {

  @include breakpoint(991px) {
    p {font-size: 1.6rem;}
  }
}
