
.switch-container {
    padding-top:5rem;
    h2 {
        font-family: 'StRydeLight' !important;
    }
}


.switch-number {
	font-family: 'StRydeLight';
    font-size: 4.5rem;
    color: $blue;
    padding:0 4rem;
    font-weight:600;
}
.switch-row-wrap {
    margin-top: 2rem;
}
.switch-card-wrapper {
    margin: 1rem -1rem;
    .switch-card {
        padding:3rem;
        border: 1px solid #e8e8e8;
        margin:0 1rem 2rem;
        h4 {
            font-weight:bold;
        }
    }
}

.switch-txt-padding {
	padding:1rem 4rem;
}

h2.switch-txt-padding {
    margin-bottom: 2rem;
}


@media(max-width: 700px) { 
    .flex-stack-on-mobile { 
        flex-direction: column;
    }
    .switch-card-wrapper {
        flex-direction: column;
    }

    .reset-mobile-padding {
        padding:0 !important;
        margin: 0 !important;
    }

    .switch-txt-padding {
        padding:0 !important;
    }

    ul.mobile-spaced {
        margin-top:2rem;
        margin-left:0.75rem;
        margin-bottom:4rem;
    }

    ul.ticks {
        margin-top:1rem;
        margin-left:0.25rem;
        margin-bottom: 1.25rem;
    }
}



.plan-container {
    padding-top:5rem;
    max-width:520px;
    h2 {
        font-family: 'StRydeLight' !important;
        font-size:4.65rem;
        padding-bottom:2rem;
    }
}


.session-wrap {
    max-width:415px;
    margin:5rem auto;
    padding:0 1.25rem;
}