main.usage.comparison .selected-range-compare:before {position: absolute; top: 1px; padding-top: 7px; content: attr(data-day); font-family: "HelveticaLight", sans-serif; background: #fff; padding-left: 1px; line-height: inherit;}
main.usage.comparison .selected-range:before { height: 100%; top: 0; padding-top: 11px; display: inline; left: 20px; color: #0075b0; background: #fff; line-height: 1; font-size: 1em;}
main.usage.comparison .selected-range:hover:before,
main.usage.comparison .selected-range.active:before { color: #fff; background: #0075b0;}
main.usage.comparison .selected-range.active { background: #0075b0; color: #fff !important;  }
main.usage.comparison .selected-range-compare.active:before { color: #fff; background: #525252;}
main.usage.comparison .selected-range-compare:hover:before,
main.usage.comparison .selected-range-compare.active:before { color: #fff; background: #525252;}

/* Media queries */
@media screen and (max-width: 767px) {
  .graph-value-switch { height: 70px; line-height: 70px; margin-right: 25px; }
  .graph-value-switch span { padding-left: 20px; }
  .graph-sum .diff {position: relative;}
  .graph-wrapper .graph-sum .amount[data="value-kwh"] {font-size: 16px;}
  .graph-wrapper .graph-sum .amount[data="value-eur"] {font-size: 20px; margin-left: 5px;}


  .graph-wrapper .graph-sum .amount span {font-size: 30px; margin-left: 5px;}

  .comparison-mode { height: 70px; border-top: 1px solid #ededed; line-height: 70px;}
  .comparison-mode .ei-switch .toggle.btn { order: 2; margin-right: 25px; }
  .comparison-mode .ei-switch label { margin-left: 25px; }
}

@media screen and (max-width: 375px) {
  .period-switcher { width: 100%; padding: 0 20px;}
  .period-switcher .nav-pills { width: 100%;}
  .period-switcher .tab-content { margin-left: -20px; margin-right: -20px;}

  .period-nav { margin-bottom: 30px; }
}

@media screen and (max-width: 350px) {
  .period-nav .nav-link { font-size: 16px !important; padding: 8px !important; }
  .period-switcher #pills-tab .nav-link { width: 70px; }
  .period-switcher .nav-pills {width: auto;}
  .graph-wrapper .graph-sum .percentage {font-size: 11px;}
  .graph-wrapper .graph-sum .title {font-size: 14px;}
  .comparison-mode .ei-switch label {margin-left: 15px;}
  .comparison-mode .ei-switch .toggle.btn {margin-right: 20px;}
  .graph-value-switch { margin-right: 20px;}
  .graph-wrapper .graph-sum {padding: 0 20px 0 15px;}
  .graph-value-switch span {padding-left: 10px;}
  .graph-wrapper .graph-sum .amount[data="value-kwh"] {font-size: 16px;}
  .graph-wrapper .graph-sum .amount[data="value-eur"] {font-size: 16px;}
  .graph-wrapper .graph-sum .amount span {font-size: 20px;}
}

