@using EI.RP.WebApp.Infrastructure.Extensions
@using Ei.Rp.DomainModels.MappingValues

@model EI.RP.WebApp.Flows.SharedFlowComponents.Main.MeterReadingHistory.ViewModel

@{
    string modalString;
}

@if (Model.AccountType == ClientAccountType.Electricity)
{
    @await Html.PartialAsync($"./Partials/_ElectricityMeterReadingHistory.cshtml", Model)
    modalString = "ESB Networks";
}
else if (Model.AccountType == ClientAccountType.Gas)
{
    @await Html.PartialAsync($"./Partials/_GasMeterReadingHistory.cshtml", Model)
    modalString = "Gas Networks Ireland";
}
else
{
    throw new InvalidOperationException();
}

@if (Model.IsPagingEnabled && Model.Paging.TotalPages > 1)
{
    <div class="pagination pagination_right">
        @await Html.DisplaySmartContainerFlowLinkPaging(
            Model.ScreenModel,
            Model.Paging.PageIndex,
            Model.Paging.TotalPages,
            Model.NumberOfPageLinks,
            id: Model.PaginationId,
            focusOnElement: Model.WhenChangingPageFocusOn ?? Model.TableId)
    </div>
}

<div class="modal modal-lg fade modal-portal" id="reading-type-modal" tabindex="-1" role="dialog" aria-labelledby="reading-type-modal-label" aria-hidden="true" data-trap-focus>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="reading-type-modal-label">Meter reading type</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p>Your usage is calculated based on meter readings provided by you or @modalString. It can also be calculated on estimates (informed by previous usage where available). If you want to avoid estimated bills, simply submit a meter reading within 7 days of bill issue date if you received an estimated bill. </p>
                </div>
            </div>
            <div class="modal-footer no-flex"></div>
        </div>
    </div>
</div>
