@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.AppFlows.SmartActivation.Steps.Confirmation.ScreenModel

@functions
{
    enum PageComponent
    {
        Navigation = 1
    }
}

@{
    var componentPreLoader = new ComponentPreLoader<PageComponent>(Component, Model);

    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.AppFlows.SmartActivation.Components.SmartActivationNavigation.Component>(PageComponent.Navigation,
        new EI.RP.WebApp.Flows.AppFlows.SmartActivation.Components.SmartActivationNavigation.InputModel
        {
            ShowCancel = false
        });
}

@await componentPreLoader.Render(PageComponent.Navigation)

<div id="portal-main" class="portal-main">
    <div class="position-relative">
        <div class="sub-navigation-overlay"></div>
        <main class="page page-authorise mb-5 pb-5" data-page="smart-activation-confirmation">
            <div class="container page-container pt-5 pb-5">
                <div class="offset-md-1 col-md-10 mt-5 pt-5">
                    <h1 class="text-primary page-title text-left mb-5" data-testid="confirmation-heading">You&rsquo;re all done</h1>
                    <hr class="mt-5 mb-5" aria-hidden="true" />
                    <p class="mb-5" data-testid="thank-you-with-selected-plan-element">
                        Thank you for signing up to @Model.SelectedPlanName
                    </p>
                    <p class="mb-5" data-testid="we-are-delighted-element">
                        We are delighted to bring you our most advanced smart plan with energy and insights to help you reduce your energy consumption and costs.
                    </p>
                    <p class="mb-5" data-testid="you-will-shortly-element">
                        You will shortly receive an email confirming your selection. In the next few days, we will update your online account to reflect this change.
                    </p>
                    <div class="btn-container btn-container--center text-left">
                        <flow-action data-testid="back_to_my_accounts_from_smart_activation"
                                     class="btn btn-xs btn-xs--back btn-xs--green"
                                     action-type="StartFlow"
                                     flow-name="@ResidentialPortalFlowType.Accounts"
                                     flow-location="NotContained">Back to My Accounts</flow-action>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>