@using EI.RP.WebApp.Flows.AppFlows

@model EI.RP.WebApp.Flows.AppFlows.SmartActivation.Steps.ShowFlowGenericError.ScreenModel

<div id="portal-main" class="portal-main">
    <div class="position-relative">
        <div class="sub-navigation-overlay"></div>
        <main class="page page-authorise mb-5 pb-5" data-page="smart-activation-flow-generic-error">
            <div class="container page-container pt-5 pb-5">
                <div class="offset-md-1 col-md-10 mt-5 pt-5">
                    <h2 class="text-danger page-title text-left mb-5 error">We cannot process your upgrade to a smart plan at the moment.</h2>
                    <hr class="mt-5 mb-5" aria-hidden="true" />
                    <p class="mb-5">
                        To upgrade your plan, please call customer service on 1850 372 372 from 8am - 8pm, Monday - Saturday
                    </p>
                    <div class="btn-container btn-container--center text-left">
                        <flow-action data-id="back_to_my_accounts_from_smart_activation"
                                     class="btn btn-xs btn-xs--back btn-xs--green"
                                     action-type="StartFlow"
                                     flow-name="@ResidentialPortalFlowType.Accounts"
                                     flow-location="NotContained">Back to My Accounts</flow-action>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
