<div class="col-12 col-lg-6 mb-5" id="setUpManualPaymentOption">
    <div class="card border h-100">
        <div class="card-body p-5 h-100 d-flex flex-column">
            <div class="card-title-wrapper">
                <h5 class="card-title font-col-title card-title-large mt-0 mb-5 text-center" data-testid="payment-option-manual-title">Manual Bill Payments</h5>
            </div>
            <p class="card-text card-text--flex-auto-adjust mb-5" data-testid="payment-option-manual-text">You have previously paid your bills manually. You can continue to pay your bills as before, however, you will not receive any Direct Debit discount.</p>
            <p class="card-text-strong mb-5">
                <span class="heading-medium highlight-txt">Save</span> <strong class="pricing-number highlight-txt">0%</strong>
            </p>
            <a href="#" id="btnManualPayments" class="btn btn-secondary line-height-for-btns" data-toggle="modal" data-target="#modal-confirm-manual-payment"><span>Continue manual payments</span></a>
        </div>
    </div>
</div>
