<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.12.0.0" newVersion="3.12.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="TargetUrl" value="https://virttst452s/eismart-dsostaging/" />
		<add key="AgentTargetUrl" value="https://virttst452s/EISmart-dsoadminportal/" />
		<add key="DMZURL" value="https://testresonline.electricireland.ie/ResidentialOnline_Smart/ " />
		<add key="SecurityTest" value="false" />
		<!-- false by default, will set to true in the pipeline-->
		<add key="TestType" value="acceptance" />
		<add key="ProxyUrl" value="http://virttst822s:8080" />
		<add key="UseLocalApp" value="false" />
		<add key="UseLocalWebdriver" value="true" />
		<add key="UseHeadlessBrowser" value="true" />
		<add key="NumberOfAttemptsOnDriverFailure" value="2" />
		<add key = "AccountsSet" value ="PreProd"/>
		<add key = "AnyOperationTimeoutSeconds" value ="40"/>
		
	</appSettings>
</configuration>