@{
	ViewData["Title"] = "Containers sample Number1Step";
}
@using S3.UiFlows.Mvc.Components
@using S3.App.Flows.AppFlows
@using S3.App.Flows.AppFlows.ContainersFlow.Steps
@using S3.App.Infrastructure
@using S3.UiFlows.Core.Registry
@using S3.UiFlows.Mvc.Views

@inject IFlowsRegistry FlowsRegistry
@model S3.UiFlows.Core.Flows.Screens.Models.UiFlowScreenModel

<div id="ContainersFlowPage">
	<div class="row">
		<div class="col-md-3">
			<h2>Containers sample Number1Step</h2>
		</div>
	</div>
	@foreach (var flowType in FlowsRegistry.AllFlows.Select(x => x.Name))
	{
		if (flowType != Model.GetContainedFlow())
		{
			<flow-action action-type="StartFlow"
						 flow-name="@flowType"
						 flow-location="ContainedInMe">@flowType.ToString()</flow-action>
						<b>||</b>
					}
				}


	<div id="contained-part" style="margin-left: 30px;background-color: lightblue;">
		<vc:embedded-flow input=@(new EmbeddedFlowComponent.ComponentParameters{Model=Model}) />
	</div>
	@using (await Html.BeginUiFlowFormAsync(Model))
	{
		<div class="row">
			<div class="col-md-3">
				<flow-action id="containerNext" trigger-event=@Number1ContainerScreen.StepEvent.Step2>Next</flow-action>
			</div>
		</div>
	}
</div>
