@{
	ViewData["Title"] = "Containers sample Number2Step";
}
@using S3.UiFlows.Mvc.Components
@using S3.App.Flows.AppFlows
@using S3.App.Flows.AppFlows.ContainersFlow2.Steps
@using S3.App.Infrastructure
@using S3.UiFlows.Core.Registry
@using S3.UiFlows.Mvc.Views

@inject IFlowsRegistry FlowsRegistry
@model S3.UiFlows.Core.Flows.Screens.Models.UiFlowScreenModel
<div id="Containers2FlowPage">
	<div class="row">
		<div class="col-md-3">
			<h2>Containers 2 sample Number2Step</h2>
		</div>
	</div>
	@foreach (var flowType in FlowsRegistry.AllFlows.Select(x => x.Name)
	   .Where(x => x != "ContainersFlow"))
	{
		if (flowType != Model.GetContainedFlow())
		{
			<flow-action action-type="StartFlow"
						 flow-name="@flowType"
						 flow-location="ContainedInMe">@flowType.ToString()</flow-action><b>||</b>
					}
				}
	<div id="contained-part" style="background-color: yellowgreen; margin-left: 30px;">
		<vc:embedded-flow input=@(new EmbeddedFlowComponent.ComponentParameters{Model=Model}) />
	</div>
	@using (await Html.BeginUiFlowFormAsync(Model))
	{
		<div class="row">
			<div class="col-md-3">
				<flow-action id="containerPrevious" trigger-event=@Number2ContainerScreen.ScreenInputEvent.Step1>Previous</flow-action>
			</div>
		</div>
	}
</div>