@model EI.RP.WebApp.Flows.SharedFlowComponents.Main.Header.ViewModel

<div class="container">
    <h1>@Model.Title</h1>
    @if (Model.ShowAccountDetails)
    {
        <span class="portal-header__address">
            @if (Model.ShowAccountNumber)
            {
                <span class="portal-header__address__account-number" data-testid="portal-header-account-number">@Model.AccountNumber</span>
            }
            @if (Model.ShowAddress)
            {
                @Model.AccountDescription
            }
        </span>
    }
</div>
