<?xml version="1.0" encoding="utf-8"?>

<!--TODO: MORE ACCURATE CONFIGURATION TBD-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-output.txt"
      throwExceptions="true"
      throwConfigExceptions="true">
	<include file="nlog.config" />
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Debug" writeTo="All" enabled="true"/>
		<logger name="*" minlevel="Debug" writeTo="AllSession" enabled="false" />
		<!--Skip Microsoft logs - no writeTo attribute-->
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="*" minlevel="Debug" writeTo="Console" enabled="true" />
		<logger name="*" minlevel="Debug" writeTo="ByLevel" enabled="true" />
		<logger name="*" minlevel="Trace" writeTo="ByLevelAndSession" enabled="false" />
		<logger name="HttpRequestsToDependencies" minlevel="Debug" writeTo="RequestsTo3rdParties" enabled="true" />
		<logger name="CacheLogger" minlevel="Debug" writeTo="CacheTarget" enabled="true"/>
		<logger name="CacheLogger" minlevel="Debug" writeTo="CacheTargetSession" enabled="false"/>
		<logger name="ProfileLogger" minlevel="Debug" writeTo="ProfileTarget" enabled="false" />
	</rules>

</nlog>