<?xml version="1.0" encoding="utf-8" ?>
<!--TODO: MORE ACCURATE CONFIGURATION TBD-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-output.txt"
      throwExceptions="true" 
      throwConfigExceptions="true">
	<include file="nlog.config" />
  <rules>
	  <!--All logs, including from Microsoft-->
	  <logger name="*" minlevel="Info" writeTo="All" enabled="true"/>
	  <logger name="*" minlevel="Info" writeTo="AllSession" enabled="false" />

	  <!--Skip Microsoft logs - no writeTo attribute-->
	  <logger name="Microsoft.*" minlevel="Trace" final="true" />
	  <logger name="*" minlevel="Info" writeTo="Console" enabled="false" />
	  <logger name="*" minlevel="Info" writeTo="ByLevel" enabled="true" />
	  <logger name="*" minlevel="Info" writeTo="ByLevelAndSession" enabled="false" />
	  <logger name="HttpRequestsToDependencies" minlevel="Info" writeTo="RequestsTo3rdParties" enabled="false"/>
	  <logger name="CacheLogger" minlevel="Warn" writeTo="CacheTarget" enabled="true"/>
	  <logger name="CacheLogger" minlevel="Info" writeTo="CacheTargetSession" enabled="false"/>
	  <logger name="ProfileLogger" minlevel="Trace" writeTo="ProfileTarget" enabled="false"/>
  </rules>
  
</nlog>