<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="8192"/>
				<fileExtensions allowUnlisted="true" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration> 