@using EI.RP.WebApp.Flows.AppFlows

@model EI.RP.WebApp.Flows.AppFlows.SmartActivation.Components.SmartActivationNavigation.ViewModel

<header class="portal-menu single-item" data-navigation data-navigation-type="smart">
    <div class="container">
        @if (Model.IsAgentUser)
        {
            <flow-action data-testid="home_url"
                         action-type="StartFlow"
                         flow-name="@ResidentialPortalFlowType.Agent"
                         flow-location="NotContained"
                         class="portal-menu__logo">
                <img src="~/img/logo.svg" alt="Electric Ireland" width="75" height="37" />
            </flow-action>
        }
        else
        {
            <flow-action data-testid="home_url"
                         action-type="StartFlow"
                         flow-name="@ResidentialPortalFlowType.Accounts"
                         flow-location="NotContained"
                         class="portal-menu__logo">
                <img src="~/img/logo.svg" alt="Electric Ireland" width="75" height="37" />
            </flow-action>
        }
        @if (Model.ShowCancel)
        {
            <nav class="portal-menu__nav" aria-label="Electric Ireland">
                <ul role="menubar" aria-label="Electric Ireland">
                    <li class="portal-menu__nav__item" role="none">
                        <flow-action data-testid="modal-cancel-smart-activation-yes"
                                     class="portal-menu__nav__item__link"
                                     role="menuitem"
                                     action-type="StartFlow"
                                     flow-location="@Model.FlowLocation"
                                     flow-name="@Model.SourceFlowType">Cancel</flow-action><br />
                    </li>
                </ul>
            </nav>
        }
    </div>
</header>
