/* Skyscraper banner */
.banner-skyscraper {width: 255px;}
.banner-skyscraper h3.banner-headline {font-family: StRyde; font-size: 24px;}
.banner-skyscraper h3.banner-headline span {font-family: Helvetica; font-size: 12px;}
.banner-skyscraper .close.banner-close {color: $green; opacity: 1;}
.banner-skyscraper .close.banner-close span {background: url("../img/icon-close-green.svg") no-repeat center; width: 26px; height: 26px;}
