//       SUMMARY TABLE
// =========================
// 1. Global
// 2. Button Groups
// =========================

// 1. Global
// =========================

button,
a {
  &:focus {
    outline: dashed;
    outline-color: #000;
    outline-width: 1px;
    box-shadow: none;
  }

  &.show-outline-on-focus {
    &:focus {
      outline: dashed;
      outline-color: #000;
      outline-width: 1px;
      box-shadow: none;
    }
  }
}

.btn {
  @include transition(all 0.1s ease-in-out);
  text-align: left;
  outline: none;

  &:focus {
    outline: dashed;
    outline-color: #000;
    outline-width: 1px;
    outline-offset: 5px;
    box-shadow: none;
  }

  &-warning {
    background: transparent url(../img/icon-question.svg) no-repeat center;
    height: 2.3rem;
    width: 2.3rem;
    display: block;
    background-size: contain;

    &:hover,
    &:focus,
    &:active {
      border: none !important;
      outline: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
    }
  }

  &[disabled] {
    pointer-events: none;
  }

  &-style-01 {
    color: $green;
    font-family: "HelveticaBold";
    font-size: 1.6rem;
    height: 5rem;
    border-radius: 5rem;
    border: 2px solid #fff;
    background-color: #ffffff;
    line-height: 4.5rem;
    padding: 0 3rem 0 5.5rem;
    position: relative;

    &:before {
      content: "";
      display: block;
      background: $green url(../img/arrow-white.svg) no-repeat center;
      background-size: 11px 15px;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      top: 50%;
      left: 0.8rem;
      @include transform(translateY(-50%) translateZ(0) scale(1));
      @include transition(all 0.3s $smooth);
      transform-origin: top center;
    }

    &[disabled] {
      background-color: #a59d95;
      border-color: #a59d95;
      opacity: 1;
      color: #fff;

      &:before {
        background-image: url(../img/arrow-disabled.svg);
        background-color: #fff;
      }
    }

    &:hover,
    &:focus {
      background: $green;
      border-color: $green;
      color: #fff;

      &:before {
        background-image: url(../img/arrow-green.svg);
        background-color: #fff;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &-style-02 {
    height: 5rem;
    line-height: 4.5rem;
    border: 2px solid #fff;
    border-radius: 5rem;
    color: #fff;
    font-family: "HelveticaBold";
    font-size: 1.6rem;
    min-width: 17rem;
    padding: 0 3rem 0 5.5rem;
    position: relative;

    &:before {
      content: "";
      display: block;
      background: #fff url(../img/arrow-green.svg) no-repeat center;
      background-size: 11px 15px;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      top: 50%;
      left: 0.8rem;
      @include transform(translateY(-50%) translateZ(0) scale(1));
      @include transition(all 0.3s $smooth);
      transform-origin: top center;
    }

    &[disabled] {
      opacity: 1;
      color: #a59d95;
      border-color: #a59d95;

      &:before {
        background-image: url(../img/arrow-white.svg);
        background-color: #a59d95;
      }
    }

    &:hover,
    &:focus {
      color: #fff;

      &:before {
        background-image: url(../img/arrow-white.svg);
        background-color: $green;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &-primary,
  &-default {
    border: 2px solid $green;
    color: #fff;
    font-family: "HelveticaBold";
    font-size: 1.6rem;
    height: 3.14em;
    border-radius: 3.14em;
    background-color: $green;
    line-height: 2.8em;
    padding: 0 1.9em 0 3.5em;
    position: relative;

    &:before {
      content: "";
      display: block;
      background: #fff url(../img/arrow-green.svg) no-repeat center;
      background-size: 11px 15px;
      border-radius: 50%;
      width: 2.2em;
      height: 2.2em;
      position: absolute;
      top: 50%;
      left: 0.8rem;
      @include transform(translateY(-50%) translateZ(0) scale(1));
      @include transition(none);
      transform-origin: top center;
    }

    &[disabled] {
      background-color: #a59d95;
      border-color: #a59d95;
      opacity: 1;

      &:before {
        background-image: url(../img/arrow-disabled.svg);
      }
    }

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: $green;
      color: $green;

      &:before {
        background-image: url(../img/arrow-white.svg);
        background-color: $green;
      }
    }

    &:focus {
      outline: none;
    }

    &--correct-hover {
      &:hover,
      &:focus {
        background-color: #fff;
        border-color: $green;
        color: $green;

        &:before {
          background: $green url(../img/arrow-white.svg) no-repeat center !important;
          background-size: 11px 15px;
          border-radius: 50% !important;
        }
      }
    }
  }

  &-primary-alt,
  &-default-alt {
    border: 2px solid $green;
    color: #fff;
    font-family: "HelveticaBold";
    font-size: 1.6rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: $green;
    line-height: 5rem;
    padding: 0 3rem 0 3rem;
    position: relative;

    &[disabled] {
      background-color: #a59d95;
      border-color: #a59d95;
      opacity: 1;

      &:before {
        background-image: url(../img/arrow-disabled.svg);
      }
    }

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: $green;
      color: $green;
    }

    &:focus {
      outline: none;
    }
  }

  &-secondary {
    border: 2px solid $silver;
    color: $green;
    font-family: "HelveticaBold";
    font-size: 1.6rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: #ffffff;
    line-height: 4.5rem;
    min-width: 17rem;
    padding: 0 3rem 0 5.5rem;
    position: relative;

    &:before {
      content: "";
      display: block;
      background: $green url(../img/arrow-white.svg) no-repeat center;
      background-size: 11px 15px;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      top: 50%;
      left: 0.8rem;
      @include transform(translateY(-50%) translateZ(0) scale(1));
      @include transition(none);
      transform-origin: top center;
    }

    &--no-icon {
      font-size: 1.4rem;
      padding: 0;
      font-family: "Helvetica";
      font-weight: normal;
      color: $grey;
      text-align: center;
      height: 5.5rem;
      line-height: 5.5rem;

      &:hover,
      &:focus {
        text-decoration: none;
        padding: 0 !important;
      }

      &:before {
        display: none;
      }

      &:after {
        display: none;
      }
    }

    &[disabled] {
      opacity: 1;
      color: #a59d95;
      border-color: #a59d95;
      background-color: #fff;

      &:before {
        background-color: #a59d95;
        background-image: url(../img/arrow-white.svg);
      }
    }

    &:hover,
    &:focus {
      background-color: #fff;
      color: $green;
      border-color: $green;
    }

    &:focus {
      outline: none;
    }
  }

  &-secondary-alt {
    border: 2px solid #a59d95;
    color: #a59d95;
    font-family: "HelveticaBold";
    font-size: 1.6rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: #ffffff;
    line-height: 5rem;
    padding: 0 3rem 0 3rem;
    position: relative;

    &[disabled] {
      opacity: 1;
      color: #a59d95;
      border-color: #a59d95;
      background-color: #fff;

      &:before {
        background-color: #a59d95;
        background-image: url(../img/arrow-white.svg);
      }
    }

    &:hover,
    &:focus {
      background-color: #fff;
      color: $green;
      border-color: $green;
    }

    &:focus {
      outline: none;
    }
  }

  &-success {
    border: 2px solid $blue;
    color: #fff;
    font-family: "HelveticaBold";
    font-size: 1.6rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: $blue;
    line-height: 4.5rem;
    min-width: 17rem;
    padding: 0 3rem 0 5.5rem;
    position: relative;

    &:before {
      content: "";
      display: block;
      background: #fff url(../img/check.svg) no-repeat center;
      background-size: 18px;
      border-radius: 50%;
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      top: 50%;
      left: 0.8rem;
      @include transform(translateY(-50%) translateZ(0) scale(1));
      @include transition(none);
      transform-origin: top center;
    }

    &[disabled] {
      background-color: #a59d95;
      border-color: #a59d95;
      opacity: 1;

      &:before {
        background-image: url(../img/arrow-disabled.svg);
        background-size: 11px 15px;
      }
    }

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: $blue;
      color: $blue;

      &:before {
        background-image: url(../img/check-white.svg);
        background-color: $blue;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &-danger {
    border: 2px solid $danger;
    color: #fff;
    font-family: "HelveticaBold";
    font-size: 1.6rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: $danger;
    line-height: 4.5rem;
    min-width: 17rem;
    padding: 0 3rem 0 5.5rem;
    position: relative;

    &:before {
      content: "";
      display: block;
      background: #fff url(../img/danger.svg) no-repeat center;
      border-radius: 50%;
      background-size: 2rem;
      width: 3.5rem;
      height: 3.5rem;
      position: absolute;
      top: 50%;
      left: 0.8rem;
      @include transform(translateY(-50%) translateZ(0) scale(1));
      @include transition(none);
      transform-origin: top center;
    }

    &[disabled] {
      background-color: #a59d95;
      border-color: #a59d95;
      opacity: 1;

      &:before {
        background-image: url(../img/arrow-disabled.svg);
        background-size: 11px 15px;
      }
    }

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: $danger;
      color: $danger;

      &:before {
        background-image: url(../img/danger-white.svg);
        background-color: $danger;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &-xl {
    min-width: 30rem;
    height: 7.5rem;
    line-height: 7.5rem;
    border: 2px solid $silver;
    border-radius: 50px;
    font-size: 2rem;
    font-family: "Helvetica";
    color: $blue;
    padding: 0 0 0 3.5rem;
    position: relative;

    &:after {
      content: "";
      display: block;
      background: url(../img/arrow-green.svg) no-repeat center;
      background-size: contain;
      height: 15px;
      width: 11px;
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      right: 3rem;
    }

    &[disabled] {
      opacity: 1;
      color: #a59d95;
      border-color: #a59d95;

      &:after {
        background-image: url(../img/arrow-disabled.svg);
      }
    }

    &:hover,
    &:focus {
      padding-left: 3.5rem !important;
      color: #fff;
      background-color: $green;
      border-color: $green;

      &:after {
        background: url(../img/arrow-white.svg) no-repeat center;
      }
    }

    &:focus {
      outline: none;
    }
  }

  &-lg {
    min-width: 23rem;
    height: 5.5rem;
    line-height: 5.5rem;
    font-size: 2rem;
    padding-left: 6rem;

    &:before,
    &:after {
      height: 4rem;
      width: 4rem;
    }

    &:hover,
    &:focus {
      color: $green;
    }

    &:focus {
      outline: none;
    }
  }

  &-sm {
    background-color: #fff;
    border: 2px solid #fff;
    color: $green;
    min-width: initial;

    &:before {
      border: 2px solid transparent;
      background: $green url(../img/arrow-white.svg) no-repeat center;
      background-size: 11px 15px;
    }

    &--no-icon {
      color: #666;
      font-size: 1.6rem;
      padding-right: 0;
      text-decoration: underline;
      text-transform: uppercase;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &:after {
        display: none;
      }
    }

    &[disabled] {
      color: #a59d95;
      border-color: transparent;
      background-color: transparent;

      &:before {
        border-color: #a59d95;
        background-color: #a59d95;
        background-image: url(../img/arrow-white.svg);
      }
    }

    &:hover,
    &:focus {
      background-color: #fff;
      border-color: #fff;
      color: $green;

      &:before {
        border-color: $green;
        background-color: #fff;
        background-image: url(../img/arrow-green.svg);
      }
    }
  }

  &-xs {
    color: #666;
    font-family: "Helvetica";
    font-size: 1.6rem;
    padding: 0 2rem 0 0;
    position: relative;
    line-height: 1;

    &:after {
      content: "";
      display: block;
      background: url(../img/arrow-green.svg) no-repeat center;
      background-size: contain;
      height: 15px;
      width: 11px;
      position: absolute;
      top: 50%;
      @include transform(translateY(-50%));
      right: 0;
    }

    &:hover,
    &:focus {
      padding: 0 2rem 0 0 !important;
    }

    &--no-icon {
      font-size: 1.4rem;
      padding-right: 0;
      text-decoration: underline;

      &.plan {
        font-size: 1.6rem;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        padding: 0 !important;
      }

      &:after {
        display: none;
      }
    }

    &[disabled] {
      &:after {
        background-image: url(../img/arrow-disabled.svg);
      }
    }

    &.btn-xs--primary {
      color: $green;
    }

    &--back {
      padding: 0 0 0 2rem;
      line-height: initial;

      &:after {
        right: auto;
        left: 0;
        @include transform(rotate(180deg) translateY(50%));
      }

      &:hover,
      &:focus {
        padding: 0 0 0 2rem !important;
      }
    }

    &--green {
      color: $green;
      font-size: 1.6rem;
      font-family: "Helvetica";
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &.prepend-back-ico {
    padding: 0 0 0 2rem;

    &:after {
      content: "";
      display: block;
      background: url(../img/arrow-green.svg) no-repeat center;
      background-size: contain;
      height: 15px;
      width: 11px;
      position: absolute;
      top: 10%;
      @include transform(rotate(-180deg));
      left: 0;
    }

    &:hover {
      &:after {
        display: none;
      }
    }

    &:focus {
      &:after {
        display: none;
      }
    }
  }

  &-icon-only {
    background-color: transparent;
    border-color: transparent;
    font-size: 0;
    min-width: 0;
    padding-right: 0;
    padding-left: 0;

    &:after {
      display: none;
    }

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: transparent;
      padding-left: 0;
      padding-right: 0;

      &:before {
        @include transform(translateY(-50%) scale(1) translateZ(0) !important);
      }
    }
  }

  &-inverse {
    &:before {
      border-color: #fff;
      background-color: #fff;
      background-image: url(../img/arrow-green.svg);
    }

    &:hover,
    &:focus {
      &:before {
        background-color: $green;
        background-image: url(../img/arrow-white.svg);
      }
    }
  }

  &-loading {
    height: 5rem;
    border-radius: 50px;
    background-color: #007a87;
    min-width: 17rem;
    text-align: center;
    color: #fff;
    font-family: "HelveticaBold";
    font-size: 1.6rem;
    padding: 0;

    &:hover,
    &:focus {
      color: #fff;
      padding: 0;
    }
  }

  &-submit-form {
    min-width: 15rem;
  }

  &.sign-in {
    &:before,
    &:after {
      background-image: url(../img/login.svg);
      background-size: 20px 23px;
    }
  }

  &-agent-search-table {
    width: 100%;
    height: 44px;
    display: inline-block !important;
    border: 2px solid $green;
    border-radius: 22px;
    padding: 0.6rem 0.8rem;
    font-size: 1.4rem;
    color: #ffffff;
    background: $green;
    text-align: center;
    line-height: 2.8rem;
    outline: none;

    &--half-line-height {
      line-height: 1.5rem;
    }

    &:hover,
    &:focus {
      color: $green;
      background: #ffffff;
    }

    @media screen and (max-width: 768px) {
      min-width: 150px;
    }
  }

  &--font-smaller {
    font-size: 1.4rem !important;
  }

  &--no-padding {
    padding: 0 !important;

    &:hover,
    &:focus {
      padding: 0 !important;
    }
  }

  &--no-margin {
    margin: 0 !important;

    &:hover,
    &:focus {
      margin: 0 !important;
    }
  }

  &--no-before {
    &::before {
      content: none !important;
    }
  }

  &--no-after {
    &::after {
      content: none !important;
    }
  }
}

.bg {
  .btn-style-01[disabled],
  .btn-primary[disabled],
  .btn-success[disabled],
  .btn-danger[disabled],
  .btn-lg[disabled],
  .btn-default[disabled] {
    background-color: #fff;
    border-color: #fff;
    color: #a59d95;

    &:before {
      background-color: #a59d95;
      background-image: url(../img/arrow-white.svg);
    }
  }

  .btn-sm.btn-icon-only[disabled] {
    background: transparent;
    border-color: transparent;
  }

  .btn-style-02[disabled],
  .btn-secondary[disabled] {
    border-color: #fff;
    background-color: transparent;
    color: #fff;
  }

  .btn-xl[disabled] {
    border-color: #fff;
    color: #fff;

    &:after {
      background-image: url(../img/arrow-white.svg);
    }
  }

  .btn-xs[disabled] {
    color: #fff;
    opacity: 1;

    &:after {
      background-image: url(../img/arrow-white.svg);
    }
  }
}

// 2. Button Groups
// =========================

.btn-group .btn + .btn-group {
  margin-left: 0;
}

.btn-group-fill {
  width: 100%;
  text-align: center;

  .btn {
    text-align: center;
  }
}

.btn-toolbar {
  .btn-secondary {
    height: 4rem;
    line-height: 4rem;
  }
}

.btn-group,
.btn-group-vertical {
  border: 1px solid $grey-light;
  border-radius: 4px;

  &-separate {
    border: none;

    label.btn {
      background: #ffffff;
      color: #525252;
      border: 2px solid #a59d95 !important;
      border-radius: 26px !important;
      padding: 1em 2em;
      margin: 0 30px 30px 0;
      min-width: 150px;
      text-align: center;
      font-weight: 400;
      cursor: pointer;

      &.active {
        background: $green !important;
        border: 2px solid $green !important;
        color: #ffffff !important;
        font-weight: 700;
      }

      &:focus,
      &.focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .btn-group {
    border: none;
  }

  &:hover,
  &:focus {
    border-color: $blue;
  }

  button,
  .btn {
    border: 0;
    font-family: "Helvetica";
    font-size: 1.6rem;
    border-radius: 10px;

    &:before,
    &:after {
      display: none;
    }

    &.btn-secondary {
      background-color: transparent;
      color: #666666;
      min-width: 50px;
      display: inline-block;
      font-size: 16px;
      padding: 0 20px;

      &:not(:disabled):not(.disabled):focus {
        box-shadow: none;
      }
    }

    &:not(:disabled):not(.disabled).active {
      background-color: $blue;

      &:hover,
      &:focus {
        background-color: $green;
      }
    }

    &.btn-secondary:hover,
    &.btn-secondary:focus {
      background-color: $green;
      color: white;
    }

    &.btn-secondary:hover,
    &.btn-secondary:focus {
      background-color: $green !important;
      color: white !important;
    }

    outline: none;
    border-right: 1px solid rgba(99, 102, 106, 0.2);

    &:last-child {
      border-right: none;
    }
  }

  .btn + .btn {
    margin-left: 0;
  }
}

.btn-group.inversed,
.btn-toolbar.inversed .btn-group,
.btn-group-vertical.inversed {
  border-color: rgba(255, 255, 255, 0.5);

  &:hover,
  &:focus {
    border-color: #fff;

    .btn-secondary {
      background-color: transparent;
    }
  }

  button,
  .btn {
    &.btn-secondary {
      color: white;
      background-color: rgba(0, 0, 0, 0.15);
      outline: none;
    }

    &:not(:disabled):not(.disabled).active {
      background-color: $green;
      color: #fff;
    }

    &:focus,
    &:active {
      background-color: #fff;
      color: $green;
    }

    &:hover,
    &:focus {
      background-color: #fff !important;
      color: $green !important;
    }

    &:last-child {
      border-right: none;
    }

    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2) !important;
  }
}

.btn-group-vertical {
  & > .btn + .btn,
  & > .btn + .btn-group {
    margin-top: 0;
  }

  button.btn-secondary,
  a.btn.btn-secondary {
    border-right: none;
    border-bottom: 1px solid rgba(165, 157, 149, 0.2);
  }

  & > div:last-child button,
  & > div:last-child .btn,
  & > .btn:last-child {
    border-bottom: none;
  }
}

.btn-group-vertical.inversed {
  button.btn-secondary,
  a.btn.btn-secondary {
    margin-top: 0;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  & > div:last-child button,
  & > div:last-child .btn,
  & > .btn:last-child {
    border-bottom: none;
  }
}

.btn-group.inversed {
  button {
    &.active {
      background-color: #003c71;
    }
  }
}

.btn-group-vertical {
  button {
    text-align: left;
    border: none;
  }

  .btn-secondary {
    height: 4.4rem;
    line-height: 4.4rem;
  }
}

/* Button toolbars */
.btn-toolbar {
  .btn-group {
    button {
      min-width: 50px;
      font-size: 16px;
    }
  }
}

.btn-group {
  &.no-border {
    border: none;
    min-width: 14rem;
  }

  .dropdown-toggle-split {
    border-left: 0 !important;
    padding: 0 !important;
    width: 4rem;
    max-width: 4rem;

    &:not(.btn-outline) {
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -1px;
        height: 100%;
        width: 1px;
        background: #fff;
        transition: none;
        transform: none;
        z-index: 1;
      }
    }
  }

  .dropdown-toggle-split[class*="btn-outline"]:last-child {
    border-right-width: 1px;
    border-right-style: solid;
    overflow: hidden;
  }
}

.dropdown-toggle {
  &.dropdown-toggle-split {
    min-width: 0;
    padding-left: 0;
    padding-right: 0;

    &::after {
      background-position: 50% 50%;
    }

    &:hover,
    &:focus {
      padding-left: 0;
      padding-right: 0;
    }

    &.fixed-width {
      padding: 0 !important;
      width: 5rem !important;

      &:after {
        right: 2.4rem !important;
      }
    }
  }
}

.btn-drop,
.btn-group .btn-drop {
  height: 4rem;
  line-height: 4rem;
  background-color: #efefef;
  border: 1px solid #efefef;
  border-radius: 1rem;
  font-size: 1.4rem;
  color: $grey;
  font-family: "Helvetica";
  padding: 0 2rem;
  min-width: 14rem;
  position: relative;

  &:before {
    display: none;
  }

  &:hover {
    padding: 0 2rem;
  }

  &:after {
    position: absolute !important;
    right: 2rem !important;
    height: 1.1rem !important;
    width: 1.1rem !important;
    top: 1rem !important;
    background-image: url(../img/arrow-default.svg) !important;
  }

  &.no-icon {
    &:after {
      display: none;
    }
  }

  &.btn-outline {
    border-color: #dbdbdb;
    background-color: transparent;
  }

  &.btn-primary {
    background-color: $green;
    border-color: $green;
    color: #fff;

    &:after {
      background-image: url(../img/arrow-white.svg) !important;
    }

    &.btn-outline {
      background-color: transparent;
      color: $green;

      &:after {
        background-image: url(../img/arrow-green.svg) !important;
      }
    }

    &.border-initial {
      border-color: rgba(102, 102, 102, 0.5);
    }
  }

  &.btn-info {
    background-color: $blue;
    border-color: $blue;
    color: #fff;

    &:after {
      background-image: url(../img/arrow-white.svg) !important;
    }

    &.btn-outline {
      background-color: transparent;
      color: $blue;

      &:after {
        background-image: url(../img/arrow-blue-darker.svg) !important;
      }
    }
  }

  &.btn-danger {
    background-color: $danger;
    border-color: $danger;
    color: #fff;

    &:after {
      background-image: url(../img/arrow-white.svg) !important;
    }

    &.btn-outline {
      background-color: transparent;
      color: $danger;

      &:after {
        background-image: url(../img/arrow-danger.svg) !important;
      }
    }
  }

  &.btn-lg {
    font-size: 2rem;
    height: 5rem;
    line-height: 4.5rem;

    &:after {
      height: 1.5rem !important;
      width: 1.1rem !important;
      right: 2.2rem !important;
      top: 1.1rem !important;
    }
  }

  &.btn-xs {
    font-size: 1.4rem;
    height: 3.5rem;
    line-height: 3.5rem;

    &:hover {
      padding-left: 2rem !important;
    }

    &:after {
      top: 0.7rem !important;
    }
  }
}

.btn-group .btn-drop {
  min-width: 0;
}

.icon {
  display: table;
  margin: 0 auto;
  height: 8rem;
  width: 8rem;
  background-color: $green;
  border-radius: 50%;
  background-image: url(../img/check-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5.5rem auto;
}

.ie {
  .btn {
    &:before {
      @include transition(none!important);
    }
  }
}

.hide-ico {
  &:after {
    display: none;
  }
}

button.line-height-for-btns {
  line-height: 1.6rem;
}

a.line-height-for-btns {
  span {
    display: inline-block;
    line-height: 1.6rem;
    vertical-align: middle;
  }
}

a[type="button"] {
  -webkit-appearance: initial;
}
