//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================


.card {
	background-color: transparent;
	border: none;
	display: block;

	.card-img-top {
		-webkit-clip-path: url(#maskthumb);
		clip-path: url(#maskthumb);
	}

	.btn-xs {
		color: $grey;
	}

	&-title {
		font-family: 'Helvetica';
		color: $blue;
		font-size: 2.2rem;
		line-height: 2.6rem;
		margin: 2rem 0 1rem 0;

		&--flex-auto-adjust {
			flex: 1 0 auto;
		}
	}

	&-text {
		line-height: 2.2rem;
		margin-bottom: 2rem;

		&--flex-auto-adjust {
			flex: 1 0 auto;
		}
	}

	&.inversed {
		.card {
			&-title {
				color: #fff;
			}

			&-text {
				color: #fff;
			}
		}

		.btn-xs {
			color: #fff;
		}
	}

	.flex-auto-adjust {
		flex: 1 0 auto;
	}
}




.card-panel {
	box-shadow: 0px 0px 60px rgba(0,0,0,0.1);
	border-radius: 10px;

	.card-body {
		background-color: #fff;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}

	.card-header {
		background-color: $blue;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		color: #fff;
		font-family: 'Helvetica';
		border: none;

		&.bg-warning {
			background-color: $warning !important;
		}

		&.bg-danger {
			background-color: $danger !important;
		}

		&.bg-success {
			background-color: $green !important;
		}
	}

	.card-footer {
		background-color: $blue;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		color: #fff;
		font-family: 'Helvetica';
		border: none;
	}

	.card-header-title {
		font-size: 2rem;
	}

	&--noheader {
		.card-body {
			border-radius: 10px;
		}
	}
}



.append-buttons-to-btm {
	position: absolute;
	left: 0;
	bottom: 3rem;
	width: 100%;
	text-align: center;

  @include breakpoint(991px) {
    position: static;
  }
}


