//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================


.carousel {
  filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.1));
	padding-bottom: 45%;
	width: 840px;
	max-width: 90%;
	margin: 15rem auto;

  &-caption {
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    color: $grey;
    font-size: 1.6rem;
    text-align: center;
    width: 80%;
    @include transform(translateY(110%));
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.6s $smooth);

    &.active {
    	opacity: 1;
    	visibility: visible;
    }
	}

  &-nbs {
  	position: absolute;
  	top: 0;
  	right: 5.5rem;
  	@include transform(translateY(-100%));

  	span {
  		font-family: 'Helvetica';
  		font-size: 1.4rem;
  		color: $grey;
  		opacity: 0.3;
  		display: inline-block;
  		padding: 1rem 0 1rem 2rem;

  		&.current {
  			font-family: 'HelveticaBold';
  			position: relative;
  			color: $green;
  			opacity: 1;

  			&:after {
  				content: '';
  				display: block;
  				background-color: $grey;
  				opacity: 0.5;
  				height: 25px;
  				width: 1px;
  				position: absolute;
  				top: 50%;
  				right: -1.3rem;
  				@include transform(translateY(-50%));
  			}
  		}
  	}
  }

  &-control-next {
  	display: block;
  	height: 1.9rem;
  	width: 1.4rem;
  	position: absolute;
  	top: -3rem;
  	bottom: auto;
  	opacity: 1;
  	right: 1rem;
  	background: url(../img/arrow-green.svg) no-repeat center;
  	background-size: contain;

  	&.disabled {
  		opacity: 0.4;
  		filter: grayscale(100%);
  	}

  	span {
  		display: none;
  	}
  }

  &-control-prev {
  	display: block;
  	height: 1.9rem;
  	width: 1.4rem;
  	position: absolute;
  	top: -3rem;
  	bottom: auto;
  	opacity: 1;
  	left: auto;
  	right: 14.5rem;
  	background: url(../img/arrow-green.svg) no-repeat center;
  	background-size: contain;
  	@include transform(rotate(180deg));

  	&.disabled {
  		opacity: 0.4;
  		filter: grayscale(100%);
  	}

  	span {
  		display: none;
  	}
  }

	&-inner {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
    -webkit-clip-path: url(#maskcarousel);
    clip-path: url(#maskcarousel);
	}

	&-item {
		background-color: #fff;
		height: 100%;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&.inverse {
		.carousel-caption {
			color: #fff;
		}

		.carousel-nbs {
	  	span {
	  		color: #fff;

	  		&.current {

	  			&:after {
	  				background-color: #fff;
	  			}
	  		}
	  	}
	  }

	  .carousel-control-next {
	  	background-image: url(../img/arrow-white.svg);
	  }

	  .carousel-control-prev {
	  	background-image: url(../img/arrow-white.svg);
	  }
	}
}


.ie .carousel {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.15);
  zoom: 1;
  transform: translateZ(0);
}
