.check-switch {
  position: relative;

  &.checked {
    font-weight: bold;
  }

  span.check-switch--control {
    position: relative;
    display: inline-block;
    height: 22px;
    width: 42px;
    vertical-align: middle;

    &:before, &:after {
      content: "";
      position: absolute;
      display: inline-block;
    }

    &:after {
      background: #fff;
      border-radius: 100%;
      width: 18px;
      height: 18px;
      transition: all .1825s ease-in-out;
      right: 22px;
      top: 2px;
    }

    &:before {
      background: #969696;
      border-radius: 18px;
      width: 42px;
      height: 22px;
      transition: all .2s ease-in-out;
      left: 0px;
    }
  }

  input {
    height: 100%;
    left: 0;
    opacity: .0001;
    position: absolute;
    top: 0;
    width: 100%;

    &:not([role="button"]) {
      pointer-events: none;
    }

    &:focus + span.check-switch--control:before {
      outline: none;
      box-shadow: 0 0 4px 2px rgba(0,117,176,0.8);
    }

    &:checked {
      & + span.check-switch--control:after {
        right: 2px;
      }

      & + span.check-switch--control:before {
        background: $green;
      }
    }
  }
}
