.bootstrap-datetimepicker-widget table td.day { line-height: 15px; }
.bootstrap-datetimepicker-widget table td.today:before { visibility: hidden; }
.bootstrap-datetimepicker-widget table td.day:hover { background: #F3F3F3; }

.ei-datepicker { visibility: hidden; width: 335px; position: absolute; z-index: 1080; top: 130px; border-radius: 20px; background: #fff; box-shadow: 0 0 40px rgba(0,0,0,0.3); padding: 0 35px 35px 30px;}
.ei-datepicker ul li.show {padding-left: 0;}
.ei-datepicker ul li:before {display: none;}
.ei-datepicker.show { visibility: visible; }
.ei-datepicker table tr {padding-left: 30px;}
.ei-datepicker table td {font-size: 14px; padding: 0; width: 30px; height: 30px !important; color: #525252;}
.ei-datepicker table th {padding: 0; border-top: none;}
.ei-datepicker table td, .table th {border-top: none; padding: 10px;}
.ei-datepicker table td.today { background: transparent; border-radius: 0; color: #0075b0;}
.ei-datepicker table thead tr:first-of-type {height: 70px;}
.ei-datepicker table thead tr:first-of-type th {border-bottom: 1px solid #ededed;}
.ei-datepicker table thead tr:first-of-type th:hover {background: transparent;}
.ei-datepicker table thead tr:first-of-type th.prev, .ei-datepicker table thead tr:first-of-type th.next {vertical-align: middle;}
.ei-datepicker table thead tr:first-of-type th.prev span {background: url("../img/arrow-green.svg") no-repeat left center; display: inline-block; height: 14px; width: 10px; transform: rotate(180deg)}
.ei-datepicker table thead tr:first-of-type th.next span {background: url("../img/arrow-green.svg") no-repeat right center; display: inline-block; height: 14px; width: 10px;}
.ei-datepicker table thead .picker-switch {font-size: 18px; text-align: center; color: $green; line-height: 26px; vertical-align: middle;}
.ei-datepicker table thead tr:first-of-type th.prev.disabled, .ei-datepicker table thead tr:first-of-type th.next.disabled { visibility: hidden; }

/* Datepicker in Modal */
.ei-datepicker.in-modal {position: relative;top: 0;box-shadow: none;}

/* ViewMode Day */
.ei-datepicker.days .dow, .ei-datepicker.weeks .dow {font-size: 14px; color: #0075b0; text-indent: -9999px; line-height: 0; vertical-align: middle; border-bottom: none; height: 26px;padding: 30px 0 20px 0;}
.ei-datepicker.days .dow { padding: 22px 0 11px 0; }
.ei-datepicker.days .dow:after {position: relative; content: ''; line-height: initial; text-indent: 0; display: block; }
.ei-datepicker.days .dow:nth-of-type(1):after {content: 'M'; }
.ei-datepicker.days .dow:nth-of-type(2):after {content: 'T'; }
.ei-datepicker.days .dow:nth-of-type(3):after {content: 'W'; }
.ei-datepicker.days .dow:nth-of-type(4):after {content: 'T'; }
.ei-datepicker.days .dow:nth-of-type(5):after {content: 'F'; }
.ei-datepicker.days .dow:nth-of-type(6):after {content: 'S'; }
.ei-datepicker.days .dow:nth-of-type(7):after {content: 'S'; }
.ei-datepicker.days .day.old, .ei-datepicker.weeks .day.old {color: #a59d95; }
.ei-datepicker.days .day.new, .ei-datepicker.weeks .day.new {color: #a59d95; }
.ei-datepicker.days .day:hover {background: #F3F3F3; border-radius: 100%; }
.ei-datepicker.days .day.active { background: #0075b0; color: #fff; border-radius: 100%; }
.ei-datepicker.days .day.disabled:hover {cursor: default;}
/* Day comparison */
.ei-datepicker.days .day.active.index-1 { background: #525252; color: #fff; border-radius: 100%; }
.ei-datepicker.days .day.active.index-1 { background: #525252; color: #fff; border-radius: 100%; }
.ei-datepicker.days.comparison-single .day.active { background: #525252; color: #fff; border-radius: 100%;}

/* ViewMode Week */
.ei-datepicker.weeks table td.active ~ td.day.new { color: rgba(255, 255, 255, 0.8); }
.ei-datepicker.weeks table td.active ~ td.day.old { color: rgba(255, 255, 255, 0.8); }
.ei-datepicker.weeks table td.day.new.active { color: rgba(255, 255, 255, 0.8); }
.ei-datepicker.weeks table td.day.old.active { color: rgba(255, 255, 255, 0.8); }
.ei-datepicker.weeks table td, .table th {padding: 5px;}
.ei-datepicker.weeks th.cw {border-bottom: none; text-indent: -9999px; line-height: 0;}
.ei-datepicker.weeks td.cw {border-bottom: none; text-indent: -9999px; line-height: 0; color: transparent;}
.ei-datepicker.weeks td.cw:before {position: relative; top: 0; width: 25px; height: 25px; content: ''; line-height: inherit; text-indent: 0; display: block; border-radius: 100%; background: #f3f3f3;}
.ei-datepicker.weeks td.cw:after {position: absolute; margin-top: -18px; left: 14px; width: 8px; height: 11px; content: ''; line-height: inherit; text-indent: 0; display: block; background: url("../img/arrow-green.svg") no-repeat left center; background-size: 8px 11px; z-index: 100;}
.ei-datepicker.weeks .dow:nth-of-type(2):after {content: 'M'; line-height: inherit; text-indent: 0; display: block;}
.ei-datepicker.weeks .dow:nth-of-type(3):after {content: 'T'; line-height: inherit; text-indent: 0; display: block;}
.ei-datepicker.weeks .dow:nth-of-type(4):after {content: 'W'; line-height: inherit; text-indent: 0; display: block;}
.ei-datepicker.weeks .dow:nth-of-type(5):after {content: 'T'; line-height: inherit; text-indent: 0; display: block;}
.ei-datepicker.weeks .dow:nth-of-type(6):after {content: 'F'; line-height: inherit; text-indent: 0; display: block;}
.ei-datepicker.weeks .dow:nth-of-type(7):after {content: 'S'; line-height: inherit; text-indent: 0; display: block;}
.ei-datepicker.weeks .dow:nth-of-type(8):after {content: 'S'; line-height: inherit; text-indent: 0; display: block;}
.ei-datepicker.weeks .datepicker-days tbody tr:hover { cursor: pointer; }
.ei-datepicker.weeks .datepicker-days table tr:hover td:first-child {background: #f3f3f3;border-top-left-radius: 200px; border-bottom-left-radius: 200px;}
.ei-datepicker.weeks .datepicker-days table tr:hover td {background: #f3f3f3;border-radius: 0;}
.ei-datepicker.weeks .datepicker-days table tr:hover td:last-child {background: #f3f3f3;border-top-right-radius: 200px; border-bottom-right-radius: 200px;}
.ei-datepicker.weeks .datepicker-days table tr.active {height: 35px;}
.ei-datepicker.weeks .datepicker-days table tr.active td {background: #0075b0; color: #fff; height: 35px; border-radius: 0}
.ei-datepicker.weeks .datepicker-days table tr.active td:hover {background: #0075b0;}
.ei-datepicker.weeks .datepicker-days table tr.active td.cw {color: transparent;}
.ei-datepicker.weeks .datepicker-days table tr.active td.day.new {color: rgba(255,255,255,0.8);}
.ei-datepicker.weeks .datepicker-days table tr.active td.day.old {color: rgba(255,255,255,0.8);}
.ei-datepicker.weeks .datepicker-days table tr.active:hover td:first-child {border-top-left-radius: 200px; border-bottom-left-radius: 200px;}
.ei-datepicker.weeks .datepicker-days table td.active {border-radius: 0; background: #0075b0;}
.ei-datepicker.weeks .datepicker-days tr.active td:last-child {background: #0075b0;border-top-right-radius: 200px; border-bottom-right-radius: 200px;}
.ei-datepicker.weeks .datepicker-days tr.active:hover td:first-child {background: #0075b0;}
.ei-datepicker.weeks .datepicker-days tr.active:hover td:last-child {background: #0075b0;}
.ei-datepicker.weeks .datepicker-days tr.active td.cw {position: relative; background: #0075b0; border-top-left-radius: 200px; border-bottom-left-radius: 200px; }
.ei-datepicker.weeks .datepicker-days tr.active td.cw:before {position: absolute; top: 0; width: 25px; height: 25px; content: ''; line-height: inherit; text-indent: 0; display: block; border-radius: 100%; background: #0075b0;}
.ei-datepicker.weeks .datepicker-days tr.active td.cw:after { position: relative; content: ''; top: 9px; left: -5px; width: 35px; height: 35px; border-radius: 100%; background: #009fda url("../img/arrow-white.svg") no-repeat center center; z-index: 100;}

/* Week comparison */
.ei-datepicker.weeks.comparison .datepicker-days tbody tr.index-1.active td {color: #fff !important; background: #525252;}
.ei-datepicker.weeks.comparison .datepicker-days table tr.index-1 td.active:before { position: absolute; content: ''; left: 0; width: 35px; height: 35px; border-radius: 100%; background: #a59d95 url("../img/arrow-white.svg") no-repeat center center; z-index: 100; margin-top: -10px;}
.ei-datepicker.weeks.comparison .datepicker-days table tr.index-1 td.active:after { position: absolute; width: 100%; height: 35px; content: ''; background-color: #525252; left: 0; z-index: -1; margin-top: -10px; border-radius: 200px;}
.ei-datepicker.weeks.comparison .datepicker-days tbody > tr.disabled {pointer-events: none;}
.ei-datepicker.weeks.comparison .datepicker-days tr.index-1.active:hover td:first-child {background: #525252 !important;}
.ei-datepicker.weeks.comparison .datepicker-days tr.index-1.active:hover td:last-child {background: #525252;}

/* Weeek comparison single */
.ei-datepicker.weeks.comparison-single .datepicker-days tbody tr.active td {color: #fff !important; background: #525252;}
.ei-datepicker.weeks.comparison-single .datepicker-days table tr td.active:before { position: absolute; content: ''; left: 0; width: 35px; height: 35px; border-radius: 100%; background: #a59d95 url("../img/arrow-white.svg") no-repeat center center; z-index: 100; margin-top: -10px;}
.ei-datepicker.weeks.comparison-single .datepicker-days table tr td.active:after { position: absolute; width: 100%; height: 35px; content: ''; background-color: #525252; left: 0; z-index: -1; margin-top: -10px; border-radius: 200px;}
.ei-datepicker.weeks.comparison-single .datepicker-days tbody > tr.disabled {pointer-events: none;}
.ei-datepicker.weeks.comparison-single .datepicker-days tr.active:hover td:first-child {background: #525252 !important;}
.ei-datepicker.weeks.comparison-single .datepicker-days tr.active:hover td:last-child {background: #525252;}

/* ViewMode Month */
.ei-datepicker tbody td span.month { display: inline-block; width: 31%; height: auto; cursor: pointer; margin: 0; position: relative;}
.ei-datepicker tbody td span.month.active { background: #0075b0; height: 40px; line-height: 40px; border-radius: 20px; vertical-align: middle; }
.ei-datepicker tbody td span.month:hover {background-color: transparent;}
.ei-datepicker tbody td span.month.active:hover {background-color: #0075b0;}
.ei-datepicker tbody td span.month:hover:after { position: absolute; left: 0; top: 7px; content: ''; background: #f3f3f3; height: 40px; width: 100%; border-radius: 20px; z-index: -1;}
.ei-datepicker tbody td span.month.active:hover:after { position: absolute; left: 0; top: 7px; content: ''; background: transparent; height: 40px; width: 100%; border-radius: 20px; z-index: -1;}
/* Month Comparison */
.ei-datepicker.comparison tbody td span.month.active { background: #525252; }

/* ViewMode Year */
.ei-datepicker tbody td span.year { display: inline-block; width: 31%; height: auto; cursor: pointer; margin: 0; position: relative;}
.ei-datepicker tbody td span.year.active { background: #0075b0; height: 40px; line-height: 40px; border-radius: 20px; vertical-align: middle; }
.ei-datepicker tbody td span.year:hover {background-color: transparent;}
.ei-datepicker tbody td span.year.active:hover {background-color: #0075b0;}
.ei-datepicker tbody td span.year:hover:after { position: absolute; left: 0; top: 7px; content: ''; background: #f3f3f3; height: 40px; width: 100%; border-radius: 20px; z-index: -1;}
.ei-datepicker tbody td span.year.active:hover:after { position: absolute; left: 0; top: 7px; content: ''; background: transparent; height: 40px; width: 100%; border-radius: 20px; z-index: -1;}
/* Year Comparison */
.ei-datepicker.comparison tbody td span.year.active { background: #525252; }

@media screen and (max-width: 425px) {
  .ei-datepicker { width: 295px; padding: 10px 10px 20px 10px;}
  #comparisonModal .ei-datepicker { width: 100%; padding: 30px 0;}
}

.ei-datepicker.days .day.new.disabled,
.ei-datepicker.weeks .day.new.disabled,
.ei-datepicker.months .month.new.disabled,
.bootstrap-datetimepicker-widget table td.disabled.new, 
.bootstrap-datetimepicker-widget table td.disabled,
.bootstrap-datetimepicker-widget table td span.disabled.new, 
.bootstrap-datetimepicker-widget table td span.disabled,
.ei-datepicker.days .day.new.disabled:hover,
.ei-datepicker.days .day.disabled:hover,
.ei-datepicker.weeks .day.new.disabled:hover,
.ei-datepicker.weeks .day.disabled:hover,
.ei-datepicker.months .month.new.disabled:hover,
.ei-datepicker.months .month.disabled:hover,
.bootstrap-datetimepicker-widget table td.disabled.new:hover, 
.bootstrap-datetimepicker-widget table td.disabled:hover {color: #dddddd !important; cursor: text !important; background: #ffffff; pointer-events: none;}

