
.validation-summary-valid {
    display: none !important;
}

.validation-summary-errors {
    ul {
        list-style: none;

        li {
            padding-left: 0px;
            line-height: 22px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.6);
            padding-bottom: 8px;
            margin-bottom: 8px;
            font-size: 1.4rem;

            &:before {
                content: none;
            }

            &:last-child {
                border-bottom: none;
                padding-bottom: 0px;
                margin-bottom: 0px;  
            }
        }
    }
}

.field-validation-valid {
    display: none !important;
}

.field-validation-error, 
.field-validation-invalid {
    display: block !important;
}
