//       SUMMARY TABLE
// =========================
// 1. Global
// 2. Custom Control
// 3. Custom File Input
// 4. BG Form
// 5. Form groups
// 6. Calendar
// =========================

// 1. Global
// =========================

input,
input:focus {
  outline: none;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

.alert-form {
  font-size: 1.4rem!important;
  line-height: 1.6rem;
  padding: 1.5rem!important;
  border-radius: 10px!important;
  margin: 0.5rem 0 0 0;
}

.bg .alert-form {
  color: #fff!important;
}

.form-text {
  color: $grey-dark;
  font-size: 1.6rem;
}

.form-group {
  display: table;
  margin: 4rem 0;
  position: relative;

  &.row {
    display: flex;
  }

  label {
    color: #232323;
    font-family: 'HelveticaBold', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1;

    &.font-weight-500 {
      font-weight: 500;
    }

    &.inline-with-placeholder {
      padding-left:20px;
    }
  }

  .hint {
    font-size: 1.4rem;
  }

  ::placeholder {
    color: #aaa;
  }

  &.has-close {
    position: relative;

    .form-control {
      padding: 1.5rem 3rem 1.5rem 3rem;
    }
  }

  .close {
    position: absolute;
    left: 1rem;
    font-size: 2rem;
    top: 49%;
    @include transform(translateY(-50%));

    &:hover {
      color: $blue;
    }
  }

  .search {
    position: absolute;
    right: 10px;
    top: 5px;
  }

  small {
    font-size: 1.4rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
  }
}

.form-check {
  label {
    font-family: 'Helvetica', Arial, sans-serif;
    color: $grey;
    display: inline-block;
    margin-left: 0.2rem;
    font-weight: normal;
    font-size: 1.6rem;
    vertical-align: middle;

    &.font-smaller {
      font-size: 1.4rem;
    }
  }
}

form .row {
  align-items: center;

  .col {
    flex-grow: initial;
    min-width: 25rem;
  }
}

.form-control {
  border: 1px solid $grey-light;
  border-radius: 4px;
  color: $grey;
  font-size: 1.6rem;
  height: auto;
  line-height: 1;
  padding: 1.4rem 3rem 1.4rem 2rem;
  width: 20rem;
  resize: vertical;

  &:focus {
    border-color: $blue;
    box-shadow: none;
  }

  &-lg {
    font-size: 2rem;
    padding: 1.65rem 3rem 1.65rem 2rem;
  }

  &-sm {
    font-size: 1.4rem;
    padding: 1rem 3rem 1rem 2rem;
  }
}

.form-control:disabled,
.form-control[readonly] {
  background-color: initial;
  opacity: 0.4;
  border: 1px solid #a59d95;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid,
textarea.is-invalid,
.custom-select.input-validation-error,
.form-control.input-validation-error,
textarea.input-validation-error {
  border-color: $danger !important;
  padding-right: calc(1.5em + .75rem);
  background-image: url(../img/icon-error.svg);
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: 27px;
}

.custom-select.input-validation-error {
  background-position: center right 4rem;
}

.datetimepicker-input.is-invalid,
.datetimepicker-input.input-validation-error {
  background-image:none;
}

.custom-select.is-warning,
.form-control.is-warning {
  border-color: $warning;
  background-image: url(../img/icon-warning.svg);
  background-repeat: no-repeat;
  background-position: center right calc(.375em + .1875rem);
  background-size: 23px;
}

.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid {
  border-color: $green;
  background-image: url(../img/icon-tick.svg);
  background-size: 16px;
  background-position: 94% center;
}

// 2. Custom control
// =========================

.custom-control {
  padding-left: 0;
}

.form-group-wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  overflow: hidden;

  &--with-border {
    border: 1px solid #aaa;
    border-radius: 4px;
    overflow: hidden;
  }

  &--with-divider {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;

    &--top-only {
      border-bottom: none;
    }

    &--bottom-only {
      border-top: none;
    }
  }
}

.form-check {
  padding-left: 0.4rem;

  .custom-control-label {
    cursor: pointer;
    padding: 0 3rem;
    margin: 0;
    line-height: 1.3;

    span {
      font-size: 1.6rem !important;
      font-weight: normal;
    }
    &.is-invalid, &.input-validation-error {
      &:after {
        border-color:$danger;
        border-width: 2px;
      }
    }
  }

  &.form-radio {
    .custom-control-label {
      padding: 0 1rem;
    }
  }


  &--border {
    cursor: pointer;
    display: table;
    margin: 0;
    position: relative;
    padding: 2rem;
    transition: background 0.15s linear;

    &:after {
      content: '';
      width: 90%;
      position: absolute;
      bottom: 0px;
      left: 5%;
      right: 5%;
      padding: 0px 10px;
      border-bottom: 1px solid #ddd;
    }

    a {
      color: $green;
      text-decoration: underline;
    }

    .custom-control {
      pointer-events: none;

      & > * {
        pointer-events: initial;
      }
    }

    .custom-control-label {
      margin-bottom: 0;
      line-height: 26px;

      &:before, &:after {
        top: 0.3rem;
      }
    }

    @include breakpoint(991px) {
      width: initial;
    }

    &.form-radio {
      width: 100%;
      display: block;

      @include breakpoint(991px) {
        margin-bottom: 0;
      }

      label {
        color: $grey;
        font-size: 1.8rem;
        font-weight: normal;
      }

      .custom-control-label {
        width: 100%;

        &:before {
          top: 0.7rem;
          right: 1.4rem;
          left: auto;
        }

        &:after {
          left: auto;
          border-color: $grey;
          right: 1rem;
        }
      }

      &.checked {

        label.custom-control-label {
          font-family: 'Helvetica', Arial, sans-serif;
          font-weight: bold;
        }

        span {
          color: #fff;
        }
      }
    }

    &.form-check-only {
      padding: 0;
    }

    &:last-child {

      &:after {
        content: none;
      }
    }
  }
}

.custom-control-label::after {
  width: 1.9rem;
  height: 1.9rem;
  left: 0rem;
  top: 0rem;
  border: 1px solid $grey-light;
  border-radius: 4px;
  background-color: #ffffff;
  outline: none;
}

.custom-radio .custom-control-label::after {
  border-radius: 50%;
}

.custom-control-label::before {
  border-radius: 0;
  height: 1.8rem;
  width: 1.8rem;
  left: 0.1rem;
  top: 0.1rem;
  background: url(../img/icon-tick.svg) no-repeat center;
  background-size: contain;
  z-index: 2;
  outline: none;
  opacity: 0;
  border: none;
  @include transition(all 0.2s $smooth);
}

.custom-radio .custom-control-label::before {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background: $green!important;
  top: 0.4rem;
  left: 0.4rem;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: none;
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: initial;
  background-color: transparent;
  opacity: 1;
  outline: none;
  box-shadow: none;
  border: none;
}

/* disabled */

.custom-control-input:disabled ~ .custom-control-label {

  opacity: 0.5;
  cursor: default;
}

.custom-control-input:focus ~ .custom-control-label::after {
  border-color: $blue;
}

.custom-control-input.error ~ .custom-control-label::after {
  border-color: $danger;
}

/* Custom select */

.custom-select {
  background-color: #fff;
  -webkit-appearance: none;
  height: 5rem;
  width: 20rem;
  padding: 1.5rem 3rem 1.5rem 2rem;
  line-height: 1;
  font-size: 1.6rem;
  border-radius: 4px;
  border: 1px solid #aaa;
  background: none;

  &:disabled {
    background-color: initial;
    opacity: 0.4;
    border: 1px solid #a59d95;

    & + .form-select-arrow {
      opacity: 0.2;
    }
  }

  &:focus {
    & + .form-select-arrow {
      @include transform(rotate(270deg));
    }
  }
}

.form-select {
  position: relative;

  &-arrow {
    display: block;
    height: 4rem;
    width: 4rem;
    position: absolute;
    top: 0.6rem;
    pointer-events: none;
    right: 0.5rem;
    opacity: 0.8;
    background: url(../img/arrow-blue.svg) no-repeat center;
    background-size: 11px 15px;
    @include transform(rotate(90deg));
  }
}

// 3. Custom File Input
// =========================

.form-group .custom-file-label {
  cursor: pointer;
  font-size: 1.6rem;
  color: #fff;
  width: 14rem;
  height: 3rem;
  line-height: 1.4;
  text-transform: initial;
  padding-left: 4.5rem;
  border-radius: 20px;
  background-color: $green;

  &:before {
    content: "";
    display: block;
    height: 1.7rem;
    width: 1.7rem;
    background: url(../img/icon-doc-white.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 2rem;
    @include transform(translateY(-50%));
  }
}

.file-name {
  position: absolute;
  top: 0.5rem;
  left: 17rem;
  color: $grey;
  opacity: 0.8;
  font-family: 'Helvetica';
  font-size: 1.4rem;
}

.custom-file-label::after {
  display: none;
}

// 4. BG Form
// =========================

.bg {
  ::placeholder {
    color: #fff;
  }

  .form-group .custom-file-label {
    background-color: #fff;
    border-color: #fff;
    color: $green;

    &:before {
      background-image: url(../img/icon-doc.svg);
    }
  }

  .file-name {
    color: #fff;
  }

  label {
    color: #fff;
  }

  .form-text {
    color: #fff;
  }

  .form-control,
  .custom-select {
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #fff;

    &:focus {
      border-color: #fff;
      background: rgba(0, 0, 0, 0.15);
    }
  }

  .form-select-arrow {
    background-image: url(../img/arrow-white.svg);
  }

  .custom-select option {
    color: $grey-dark;
  }

  .custom-control-input:disabled ~ .custom-control-label {
    color: #fff;
  }

  .custom-control-label::after {
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid $grey-light;
  }

  .custom-control-label::before {
    background-image: url(../img/icon-tick-white.svg);
  }

  .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .custom-radio .custom-control-label::before {
    background-color: #fff!important;
  }

  .custom-radio .custom-control-label::after {
    background: transparent;
    border-color: rgba(255, 255, 255, 0.5);
  }

  .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background: #fff;
    border: none;
  }

  .custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: none;
  }

  .form-group {
    ::placeholder {
      color: #fff;
    }

    label {
      color: #fff;
    }
  }

  .btn-submit-form {


    &:hover {
      background-color: #fff;
      border-color: #fff;
    }
  }
}

// 5. Form group
// =============

.input-group {

  .form-control {
    border: 1px solid rgba(102, 102, 102, 0.5);
    border-right: 0;

    &-info {
      border-color: $blue;
    }
  }

  .dropdown-toggle {
    &:after {
      top: 1.4rem!important;
    }
  }

  .form-control:last-child {
    border-right: 1px solid rgba(102, 102, 102, 0.5);

    &.form-control-info {
      border-right-color: $blue;
    }
  }

  .input-group-text {
    background-color: #fff;
    color: $blue;
    font-size: 20px;
    font-weight: 400;

    border-color: rgba(102, 102, 102, 0.5);

    padding: 0.375rem 1.5rem;
    position: relative;

    .custom-control {
      padding-top: 1.5rem;
      height: 2rem;
      width: 2rem;

      .custom-control-label::before,
      .custom-control-label::after {
        left: -0.9rem;
        top: -1.5rem;
      }

      &.custom-radio .custom-control-label::before {
        top: -1.1rem;
        left: -0.5rem;
      }
    }
  }

  .input-group-prepend,
  .input-group-append {
    button,
    a.btn {
      height: 100%;
      min-width: 0;
    }
  }

  .input-group-prepend {
    .input-group-text {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  .input-group-append {
    .input-group-text {
      border-left: 0;
      padding-right: 1.75rem;
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }

  &-lg {
    &>.form-control:not(textarea) {
      font-size: 2rem;
      height: 5rem;
      padding: 1.4rem 3rem 1.4rem 2rem;
    }

    .input-group-prepend {
      .input-group-text {
        font-size: 2rem;
      }
    }
  }

  &-sm {
    &>.form-control:not(textarea) {
      font-size: 1.6rem;
      height: 4rem;
      padding: 1.4rem 3rem 1.4rem 1rem;
    }

    .input-group-prepend {
      .input-group-text {
        font-size: 1.6rem;
        padding: .25rem 1rem;
      }
    }
  }

  &-xs {
    &>.form-control:not(textarea) {
      font-size: 1.4rem;
      height: 3rem;
      padding: 1.4rem 3rem 1.4rem 1rem;
    }

    .input-group-prepend {
      .input-group-text {
        font-size: 1.4rem;
        padding: .2rem 0.8rem;
      }
    }
  }
}

.minor-lbl {
  color: #003c71;
  font-size: 12px;
}

.input-group-text.input-addon {
  color: #fff;
  background-color: #0075b0;
  font-size: 1.6rem;
  font-family: 'Helvetica';
}

// 6. Calendar
// =========================

.calendar-note {
  color: $blue;
  background-color: #e7f5fb;
  padding: 1rem 2rem;
  opacity: 0;
  visibility: hidden;
  @include transition(all 0.3s $smooth);

  &.animate {
    opacity: 1;
    visibility: visible;
  }
}

.custom-calendar {

  &.disabled {
    display: none;
  }
}


.is-invalid + .btn-warning,
.input-validation-error + .btn-warning {
  right: 4rem!important;
}


.custom-control-input.is-invalid~.custom-control-label,
.custom-control-input.input-validation-error~.custom-control-label {
  color:#525252;
}

.toggle-password-visibility {
  border: none;
  background: transparent;
  display: block;
  position: absolute;
  top: 50%;
  right: 2rem;
  @include transform(translateY(-50%));
  font-size: 1.4rem;
  color: $grey;
  text-decoration: none;
  font-family: 'HelveticaBold';
  text-transform: uppercase;
}

.is-invalid + .toggle-password-visibility,
.input-validation-error + .toggle-password-visibility {
  right: 5rem;
}

.form-password {
  position: relative;
}

.form-password-wrapper input:focus {
  box-shadow: 0 0 0 1px #009fdf;
  border-color: transparent;
}

ul.password-criteria {
  padding-left: 3.5rem;
  margin-top: 1.5rem;
}

@include breakpoint(991px) {
  .btn-submit-password {
    width: 100%;
  }
}

ul.password-criteria li {
  line-height: 24px;
  display: table;
  position: relative;

  &:before {
    background-color: $grey;
    top: 1rem;
  }

/*
  &:after {
    content: '';
    display: block;
    width: calc(100% - 1.6rem);
    position: absolute;
    top: 50%;
    left: 1.6rem;
    height: 2px;
    background-color: $grey;
    opacity: 0;
    visibility: hidden;
    @include transition(all 0.3s $smooth);
  }
*/

  &.valid {
    /*&:after {
      opacity: 1;
      visibility: visible;
    }*/
    color: $green;
  }
}

// 7. Switch Toggle
// =========================
.comparison-mode .comparison-period,
.ei-switch .comparison-period { 
  text-transform: capitalize; 
}
.ei-switch .toggle + label {
  font-size: 16px; 
  font-weight: bold; 
  color: #525252;
}
.ei-switch .toggle.off + label {
  font-weight: normal;
}



// overrides
.custom-checkbox.choose-panel {
  .custom-control-label {
    line-height:2.6rem;
  }
  .alert {
    span { font-size:1.4rem !important; }
  }
}
