/* Highcharts usage graph */
.graph-wrapper {
  min-height: 380px;
  background: rgb(237,237,237);
  background: linear-gradient(0deg, rgba(237,237,237,0.5) 0%, rgba(255,255,255,0.7) 15%);
}

.graph-wrapper .graph-value-switch {
  padding-right: 5px;
  margin-bottom: 30px;
}

.graph-wrapper .graph-value-switch .custom-control:first-of-type {
  left: -15px;
}

.graph-wrapper .graph-value-switch label {
  font-size: 14px;
}

.graph-wrapper .graph-value-switch label:first-of-type {
  left: -15px;
}

.graph-wrapper .graph-value-switch input:checked + label {
  color: $green;
}

.graph-wrapper .graph-sum {
  height: 75px;
  padding: 0 25px;
}

.graph-wrapper .graph-sum.comparison {
  display: none !important;
}

.graph-wrapper .graph-sum .title {
  flex-grow: 0.8;
}

.graph-wrapper .graph-sum .amount {
  color: #0075b0;
  font-size: 26px;
}

.graph-wrapper .hline.comparison {
  display: none;
  border-bottom: 1px solid #ededed;
  width: calc(100% - 50px);
  margin: 0 auto;
}

.graph-wrapper .graph-sum.comparison .amount {
  color: #525252;
}

.graph-wrapper .graph-sum .title .bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #009fda;
  border-radius: 8px;
  margin-right: 3px;
}

.graph-wrapper .graph-sum.comparison .title .bullet {
  background: #a59d95;
}

.graph-wrapper .graph-sum .percentage {
  background: #0075b0;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 600;
  display: none !important;
}

.graph-wrapper .graph-sum .percentage:before {
  content: '';
  background: url("../img/polygon.svg") 0 0 no-repeat;
  width: 13px;
  height: 16px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: bottom;
}

.graph-wrapper .graph-sum .percentage.negative:before {
  transform: rotate(180deg);
  vertical-align: top;
}

main.usage.comparison .graph-wrapper .graph-sum .percentage {
  display: block !important;
}

main.usage.comparison .graph-wrapper .graph-sum.comparison,
main.usage.comparison .graph-wrapper .hline.comparison
{
  display: -ms-flexbox!important;
  display: flex!important;
}

.graph-wrapper .graph-sum .amount[data="value-eur"]:before {
  content: '€';
  font-size: 80%;
  margin-right: 5px;
}

.graph-wrapper .graph-sum .amount[data="value-kwh"]:after {
  content: ' kWh';
}

.highcharts-tooltip {
  border: none !important;
}

.highcharts-tooltip > span {
  display: inline-flex !important;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 0 1px 40px rgba(0,0,0,0.1) !important;
  padding: 0;
}

.highcharts-tooltip > span:first-of-type {
  padding-top: 10px;
  padding-bottom: 10px;
}

.highcharts-tooltip p {
  margin: 0;
}

.highcharts-tooltip .highcharts-tooltip-box {
  display: none !important;
}

.chart-tooltip {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  min-width: 110px;
}

/* date tooltip part */
.chart-tooltip.date:first-of-type {
  padding-left: 10px;
  padding-right: 10px;
}

.chart-tooltip .currency {
  font-size: 18px;
}

.chart-tooltip .unit {
  font-size: 18px;
}

.chart-tooltip p.x-value {
  font-family: "HelveticaLight", sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.chart-tooltip p.y-value {
  font-family: "HelveticaBold", sans-serif;
  font-size: 20px;
  color: #0075b0;
}

/* comparison tooltip part */
.chart-tooltip.comparison {
  border-right: 1px solid rgba(140, 140, 140, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}

.chart-tooltip.comparison p.x-value {
  font-family: "HelveticaLight", sans-serif;
  font-size: 12px;
}

.chart-tooltip.comparison p.y-value {
  font-family: "HelveticaBold", sans-serif;
  font-size: 20px;
  color: #525252;
}

.graph-value-switch input[type="radio"]:checked + label {
  color: $green;
}
