//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.mask {
	visibility: hidden;
}

.img-thumbnail {
	padding: 0;
	border: none;
	background: none;
	height: 140px;
	width: 140px;
	border-radius: 0;
	-webkit-clip-path: url(#mask);
	clip-path: url(#mask);
}

.img-rounded {
	border-radius: 50%;
	overflow: hidden;
	-webkit-clip-path: none;
	clip-path: none;
}

.img-shadow {
	filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.1));
	height: 140px;
	width: 140px;
}

.ie .img-shadow {
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.15);
}
