//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.list-group {
	border: 1px solid $grey-light;
	border-radius: 4px;

	&-item {
		border-radius: 0;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(165, 157, 149, 0.4);
		padding: 1rem 1.5rem;
		font-family: 'Helvetica';
		font-size: 1.6rem;
		color: $grey;

		&:first-child {
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}

		&:last-child {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}

		&:before {
			display: none;
		}

		&:last-child {
			border-bottom: none;
		}

		&.active {
			background-color: $green;
			color: #fff;
			border-color: $green;
		}
	}

	.list-group-item-action:focus, .list-group-item-action:hover {
		color: $grey;
		background-color: #eee;
		z-index: initial;

		&.active {
			background-color: $green;
			color: #fff;
			border-color: $green;
		}
	}

	&-content {
		border-radius: 0;
		border: none;

		.list-group-item {
			font-family: 'Helvetica';
			padding: 3rem;
			border: none;

			.list-group-title {
				font-family: 'Helvetica';
				font-size: 2.2rem;
			}	

			p {
				line-height: 2.2rem;
			}

			&:first-child {
				background-color: $blue;
				color: #fff;
				border-top-left-radius: 0;
				border-top-right-radius: 0;

				.list-group-title {
					color: #fff;
				}
			}

			&:nth-child(2) {
				background-color: rgba(165, 157, 149, 0.4);
				color: $grey;

				.list-group-title {
					color: $grey;
				}
			}

			&:nth-child(3) {
				background-color: #efefef;

				.list-group-title {
					color: $blue;
				}
			}

			&:nth-child(4),
			&:last-child {
				background: transparent;
				position: relative;

				&:before {
					content: '';
					display: block;
					pointer-events: none;
					background: url(../img/list-group.svg) no-repeat top center;
					background-size: contain;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					padding-bottom: 30%;
					z-index: -1;
				}

				.list-group-title {
					color: $blue;
				}
			}
		}
	}

	&-custom {
		filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.2));
		background: url(../img/popover.svg) no-repeat bottom center;
		background-size: contain;
		margin-top: 6.5rem;
		padding-bottom: 2rem;

		p, ul {
			color: $grey;
			font-size: 2rem;
			font-family: 'Helvetica';
		}

		ul li {
			padding-left: 3rem;
			margin-bottom: 1.2rem;

			&:last-child {
				margin-bottom: 0;
			}

			&:before {
				height: 0.8rem;
				width: 0.8rem;
				background-color: $blue;
				top: 1rem;
			}
		}

		.list-group-item {
			background-color: #fff;
			padding: 4rem 4.5rem;

			@include breakpoint(991px) {
				padding: 4rem;
			}

			&:nth-child(odd) {
				background-color: #fff;

				.list-group-title {
					color: $blue;
					text-align: center;
					font-family: 'StRyde';
					font-size: 3rem;
					margin-bottom: 3rem;
				}
			}

			&:nth-child(even) {
				background-color: rgba(245, 245, 245, 1);

				.list-group-title {
					color: $blue;
					text-align: center;
					font-family: 'StRyde';
					font-size: 3rem;
					margin-bottom: 3rem;
				}
			}
		}
	}

	&-panel {
		padding: 0;
		border: none;
		box-shadow: 0px 0px 60px rgba(0,0,0,0.1);

		.list-group-item {
			background-color: transparent;
			color: $blue;
			border-bottom: 1px solid #efefef;
		}

		.list-group-item-panel {
			padding: 0;
			color: $grey;
		}

		.card-panel {
			box-shadow: none;
		}
	}

}


.ie .list-group-custom {
	box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.2);
}