
/***** Loading Overlay */

body {

    .loading-overlay {
        visibility: hidden;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        background: #fff;
        background: rgba(255, 255, 255, 0.8);

        .loading-overlay__label {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(30px);
            font-size: 1.6rem;
            font-weight: 600;
        }
    }

    &.loading {

        .loading-overlay {
            visibility: visible;
            opacity: 1;
            transition: opacity ease-in-out 0.25s, visibility linear 0s;
        }
    }
}

/***** Spin JS */

@keyframes spinner-line-fade-more {
    0%, 100% {
        opacity: 0;
    }

    1% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-quick {
    0%, 39%, 100% {
        opacity: 0.25;
    }

    40% {
        opacity: 1;
    }
}

@keyframes spinner-line-fade-default {
    0%, 100% {
        opacity: 0.22;
    }

    1% {
        opacity: 1;
    }
}

@keyframes spinner-line-shrink {
    0%, 25%, 100% {
        transform: scale(0.5);
        opacity: 0.25;
    }

    26% {
        transform: scale(1);
        opacity: 1;
    }
}
