//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================


.media {
	margin-top: 4rem;

	&-title {
		font-family: 'Helvetica';
		margin-bottom: 0.5rem;
	}

	&-body {
		color: #63666a;
		line-height: 2.2rem;
	}

	img {
		margin-right: 2rem;
	}

	&.inversed {
		.media-title {
			color: #fff!important;
		}

		.media-body {
			color: #fff;
		}
	}
}




