//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================


.nav-tabs {
  border-bottom: none;

  .nav-item {
    margin-bottom: 0px;
    padding: 0;

    &:before {
    	display: none;
    }

    .nav-link {
    	font-family: 'Helvetica';
      padding: 0.9rem 2rem;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      @include transform(translateY(0.4rem));

      border: none;

      background-color: #ffffff;
      color: $grey;

      &:hover {
        background-color: $blue;
        color: white;
      }

      &.active {
        background-color: #efefef;
        color: $green;
        padding: 1.1rem 2rem;
     		@include transform(translateY(0));
      }
    }
  }
}

.nav-tabs.inversed {
  .nav-item {
    .nav-link {
      background-color: transparent;
      color: #ffffff;

      &:hover {
        background-color: $green;
        color: white;
      }

      &.active {
        background-color: #fff;
        color: $green;
      }
    }
  }
}



.nav-pills,
.nav.flex-column {

	.nav-item {
		margin: 0 0.1rem 0 0;
		padding: 0;

		&:before {
			display: none;
		}
	}

  .nav-link {
  	font-family: 'Helvetica';
    padding: 1.1rem 2rem;
    border-radius: 1rem;
    color: $grey;

    &.active,
    &:focus,
    &:active,
    &:hover {
      background-color: #0266a0;
      color: white;
    }

    &.active {
      background-color: $green;
      color: #fff;
    }

    &:hover {
      background-color: $blue;
      color: #fff;
    }
  }
}

.nav-pills.inversed,
.nav.flex-column.inversed {
  .nav-link {
    color: #ffffff;

    &:focus,
    &:active,
    &:hover {
      background-color: $green;
      color: white;
    }

    &.active {
      background-color: #fff;
      color: $green;
    }

    &:hover {
      background-color: $green;
      color: #fff;
    }
  }
}



.tab-content {
  .tab-pane {
    background-color: #efefef;
  }
}

.tab-content.inversed {
  .tab-pane {
    background-color: #fff;
  }
}


