//       SUMMARY TABLE     
// =========================
// 1. Global
// =========================


// 1. Global
// =========================

.popover {
	filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.1));
	border: none;
	border-radius: 0;
	font-size: 1.6rem;
	max-width: 37rem;
	background: url(../img/popover.svg) no-repeat bottom center;
	background-size: contain;

	&-header {
		background-color: $blue;
		color: #fff;
		font-family: 'Helvetica';
		font-size: 1.6rem;
		padding: 1.2rem 2rem;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	&-body {
		padding: 1.5rem 2rem;
		line-height: 22px;
		color: #63666a;
		font-size: 1.6rem;
		font-family: 'Helvetica';
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 50%;
			background-color: #fff;
			width: 100%;
			z-index: -1;
		}
	}

	.arrow {
		&:before {
			display: none;
		}
	}
}

.ie .popover {
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.15);
}


.bs-popover-auto[x-placement^=top], .bs-popover-top {
	margin-bottom: 2rem;
	margin-top: -1rem;

	.arrow {
		height: 1rem;
    width: 2rem;
    margin: 0 auto;

    &:after {
    	bottom: -1rem;
    	border-width: 2rem 2rem 0;
    	left: -1rem;
    }
	}
}

.bs-popover-auto[x-placement^=right], .bs-popover-right {
	margin-left: 2.5rem;
	margin-top: -1rem;

	.arrow {
		width: 1rem;
    height: 2rem;

    &:after {
    	left: -1rem;
    	border-width: 2rem 2rem 2rem 0;
    }
  }
}

.bs-popover-auto[x-placement^=left], .bs-popover-left {
	margin-right: 2.5rem;

	.arrow {
		width: 1rem;
    height: 2rem;

    &:after {
    	right: -1rem;
    	border-width: 2rem 0 2rem 2rem;
    }
  }
}

.bs-popover-auto[x-placement^=bottom], .bs-popover-bottom {
	margin-top: 2rem;

	.popover-header:before {
		display: none;
	}

	.arrow {
		height: 1rem;
    width: 2rem;
    margin: 0 auto;

    &:after {
    	top: -1rem;
	    left: -1rem;
	    border-width: 0 2rem 2rem 2rem;
    	border-bottom-color: $blue;
    }
	}
}