//       SUMMARY TABLE     
// =========================
// 1. Global
// 2. Blockquote
// 3. Jumbotron
// =========================


// 1. Global
// =========================

ul {
	font-size: 1.6rem;
	line-height: 2.8rem;

	li {
		padding-left: 1.6rem;
		position: relative;

		&:before {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			background-color: #009fda;
			border-radius: 50%;
			position: absolute;
			top: 1.2rem;
			left: 0;
		}

		ul li {
			&:before {
				background-color: transparent;
				width: 4px;
				height: 4px;
				border: 1px solid #009fda;
				top: 1.4rem;
			}
		}
	}

	&.ticks {
		li {
			padding-left: 3rem;
			padding-bottom: 0.5rem;
			margin-bottom:0.5rem;
			margin-top:0.5rem;
			line-height: 2.5rem;
  
			&::before {
			  content: '';
			  background: url('../img/check-green.svg') no-repeat;
			  width: 25px;
			  height: 13px;
			  background-size: auto 100%;
			  top:0.65rem;
			}
		}
	}

	&.spaced {
		li {
			margin-bottom:0.65rem;
			margin-top:0.65rem;
			padding-left: 2.5rem;

		}
	}
}

ol {
	font-size: 1.4rem;
	line-height: 2.4rem;
	list-style: none;
	counter-reset: counter;

	li {
		counter-increment: counter;

		&:before {
			content: counter(counter) ". ";
			color: #009fda;	
		}
	}	
}

#onetrust-consent-sdk {
	ul, ol {
		li {
			&:before {
				content: none;
			}
		}
	}
}

p {
	font-size: 1.6rem;
	line-height: 2.8rem;
	margin-bottom: 1rem;

	&.lead {
		color: #63666a;
		font-size: 2rem;
		line-height: 2.6rem;
	}
}


h1 {
	font-family: 'StRydeLight';
	font-size: 4.5rem;
	color: #111c2d;
	font-weight: normal;
	letter-spacing: -1px;
	margin-bottom: 2rem;
	line-height: 5rem;

	@include breakpoint(991px) {
		font-size: 3.2rem;
		line-height: 3.5rem;
	}
}

h2 {
	font-family: 'StRydeLight';
	font-size: 4rem;
	color: #111c2d;
	font-weight: normal;
	letter-spacing: -1px;
	margin-bottom: 2.5rem;
	line-height: 4.5rem;

	@include breakpoint(991px) {
		font-size: 3rem;
	}
}

h3 {
	font-family: 'Helvetica';
	font-size: 2rem;
	color: #111c2d;
	font-weight: normal;
	margin-bottom: 3rem;
	line-height: 2.5rem;
}

h4 {
	font-family: 'Helvetica';
	font-size: 1.6rem;
	color: #111c2d;
	font-weight: normal;
	margin-bottom: 3rem;
	line-height: 2rem;
}

h5 {
	font-family: 'Helvetica';
	font-size: 1.4rem;
	color: #111c2d;
	font-weight: normal;
	margin-bottom: 3rem;
	line-height: 1.8rem;
}

h6 {
	font-family: 'Helvetica';
	font-size: 1.2rem;
	color: #111c2d;
	font-weight: normal;
	margin-bottom: 3rem;
	line-height: 1.6rem;
}



.text-primary {
  color: $blue !important;
}

.text-warning {
  color: $warning !important;
}

.text-danger {
  color: $danger !important;
}

.text-success {
  color: $green !important;
}

.text-info {
  color: #007a87!important;
}

.text-blue {
	color: #009fda!important;
}

.text-efficiency-green {
    color: $efficiency-green !important;
}

.text-warm-yellow {
    color: $warm-yellow !important;
}

.text-bright-orange {
    color: $bright-orange !important;
}

.text-deep-pink {
    color: $deep-pink !important;
}

.text-deep-jade {
    color: $deep-jade !important;
}

.text-deep-purple {
    color: $deep-purple !important;
}

.text-bright-emerald {
    color: $bright-emerald !important;
}




// 2. Blockquote
// =========================

.blockquote {
  margin: 4rem 0;
  padding-left: 4.5rem;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    background-color: #009fda;
    position: absolute;
    left: 0;
    top: 0;
  }

  p {
    color: #005293;
    font-size: 4rem;
    font-family: 'StRydeLight';
    letter-spacing: -1px;
    margin: 2.5rem 0;
    line-height: 1;
  }

  &.text-right {
    padding-left: 0;
    padding-right: 4.5rem;

    &:before {
      left: auto;
      right: 0;
    }
  }
}

.blockquote-footer {
	color: $grey;
  font-size: 1.6rem;
  padding-left: 3.5rem;
  margin-bottom: 2.5rem;

  &:before {
  	content: '– ';
  }

  cite {
  	color: $grey;
    font-style: normal;
  }
}

.bg,
.bg-lighter {
  .blockquote {
    p {
      color: #fff;
    }

    &:before {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .blockquote-footer {
    color: #fff;

    cite {
    	color: #fff;
    }
  }
}

// 3. Jumbotron
// =========================

.jumbotron {
	border-radius: 0;
	background-color: #fff;
	filter: drop-shadow(0px 0px 100px rgba(0, 0, 0, 0.1));
	padding: 4rem 5rem;
	background: url(../img/popover.svg) no-repeat bottom center;
	background-size: contain;
	position: relative;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 80%;
		background-color: #fff;
		width: 100%;
		z-index: 0;
	}

	& > * {
		position: relative;
		z-index: 1;
	}

	p {
		line-height: 2.2rem;
	}

	.btn {
		margin-top: 3rem;
	}
}

.ie .jumbotron {
	box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.15);
}

.heading-medium {
	font-family: 'StRydeMedium';
}

.font-light {
	font-family:'HelveticaLight' !important;
}

.font-regular {
	font-family: 'Helvetica' !important;
}

.font-col-title {
	font-family: 'StRyde' !important;
}

.sub-heading {
	font-size:2.4rem !important;
}
.sub-heading-minor {
	font-size:2.2rem !important;
	line-height:1.185 !important;
}

.pricing-number {
	font-size:3rem;
}

.card-title-large {
	font-size:2.8rem !important;
}
