@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.Plan.Components.PlanDetails 
@using EI.RP.WebApp.Flows.AppFlows.AddGasAccount.FlowDefinitions

@model ViewModel

<div class="plan-your-plan-add-gas">
    <div class="row mb-4 flex-wrap">
        <div class="col-12 col-md-5 mb-4 mb-md-0">
            <p class="m-0" data-testid="add-gas">Add gas to your account and save 3% on your bills a year.</p>
        </div>
        <div class="col-12 col-md-7 text-center text-md-right">
            <flow-action id="addGasAccount"
                         class="btn btn-secondary"
                         data-testid="add-gas-flow"
                         action-type="StartFlow"
                         flow-location="SameContainerAsMe"
                         flow-name="@ResidentialPortalFlowType.AddGasAccount"
                         flow-parameters="@(new AddGasAccountFlowInput { ElectricityAccountNumber = Model.AccountNumber })">Add gas to my account</flow-action>
        </div>
    </div>
</div>
