@using EI.RP.WebApp.Flows.AppFlows.Plan.Components.PlanDetails
@using EI.RP.WebApp.Flows.AppFlows.SmartActivation.FlowDefinitions
@using EI.RP.WebApp.Flows.AppFlows

@model ViewModel

<div class="plan-your-plan-upgrade">
    <div class="row mb-4 flex-wrap">
        <div class="col-12 mb-4">
            <h3 class="m-0" data-testid="upgrade-to-smart-heading">Upgrade to a smart plan for free</h3>
        </div>
        <div class="col-12 mb-5">
            <p class="m-0" data-testid="upgrade-to-smart-text">With @Model.Upgrading.UpgradePlanName, you get advanced electricity insights, monthly billing and much more at no extra cost.</p>
        </div>
        <div class="col-12 text-center">
            <flow-action class="btn btn-primary line-height-for-btns"
                         data-testid="upgrade-to-smart-link"
                         action-type="StartFlow"
                         flow-name="@ResidentialPortalFlowType.SmartActivation"
                         flow-location="SameContainerAsMe"
                         flow-parameters="@(new SmartActivationInput
                                          {
                                              AccountNumber = Model.AccountNumber,
                                              SourceFlowType = ResidentialPortalFlowType.Plan
                                          })"><span>Find out more about @Model.Upgrading.UpgradePlanName</span></flow-action>
        </div>
    </div>
</div>
