<?xml version="1.0" encoding="utf-8" ?>
<!--TODO: MORE ACCURATE CONFIGURATION TBD-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-output.txt"
      throwExceptions="true" 
      throwConfigExceptions="true">


  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <time type="FastUTC" />
  <targets>
    <target xsi:type="File" name="All" fileName="logs\all-${shortdate}.log"
            layout="${longdate:universalTime=true}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File" name="Trace" fileName="logs\Trace-${shortdate}.log"
            layout="${longdate:universalTime=true}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="File" name="Debug" fileName="logs\Debug-${shortdate}.log"
            layout="${longdate:universalTime=true}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="File" name="Info" fileName="logs\Info-${shortdate}.log"
            layout="${longdate:universalTime=true}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="File" name="Warn" fileName="logs\Warn-${shortdate}.log"
            layout="${longdate:universalTime=true}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="File" name="Error" fileName="logs\Error-${shortdate}.log"
            layout="${longdate:universalTime=true}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <target xsi:type="File" name="Fatal" fileName="logs\Fatal-${shortdate}.log"
            layout="${longdate:universalTime=true}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    
    <target name="Console" xsi:type="Console" layout="${message}"/>
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="All" />

    <!--Skip Microsoft logs - no writeTo attribute-->
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="Trace,Console" enabled="true" />
    <logger name="*" minlevel="Debug" writeTo="Debug" enabled="true" />

    <logger name="*" minlevel="Info" writeTo="Info" enabled="true" />
    <logger name="*" minlevel="Warn" writeTo="Warn" enabled="true" />
    <logger name="*" minlevel="Error" writeTo="Error" enabled="true" />
    <logger name="*" minlevel="Fatal" writeTo="Fatal" enabled="true" />
  </rules>
</nlog>