<?xml version="1.0" encoding="utf-8" ?>
<!--TODO: MORE ACCURATE CONFIGURATION TBD-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-output.txt"
      throwExceptions="true"
      throwConfigExceptions="true">


<extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <time type="FastUTC" />
   <targets>
	   <target xsi:type="File" name="All" fileName="logs\all-${shortdate}.log"
	           layout="${uppercase:${level}}|SessionId=${aspnet-sessionid} - RequestId=${aspnet-item:variable=RequestId} - ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${logger}|${message} ${exception}" />

	   <target xsi:type="File" name="ByLevel" fileName="logs\${level}-${shortdate}.log"
	           layout="${uppercase:${level}}|SessionId=${aspnet-sessionid} - RequestId=${aspnet-item:variable=RequestId} - ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${logger}|${message} ${exception}" />


	   <target xsi:type="File" name="RequestsTo3rdParties" fileName="logs\HttpRequests-${shortdate}.log" layout="${uppercase:${level}}|SessionId=${aspnet-sessionid} - RequestId=${aspnet-item:variable=RequestId} - ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${logger}|${message} ${exception}" />
	   <target name="Console" xsi:type="Console" layout="${message}"/>
	   <target xsi:type="File" name="CacheTarget" fileName="logs\Cache-${shortdate}.log" layout="Thread number:${threadid}|${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${logger}|${message} ${exception}" />


	 <target xsi:type="File" name="AllSession" fileName="logs\all-Session_${aspnet-user-identity}_${aspnet-sessionid}.log"
	          layout="${uppercase:${level}}|SessionId=${aspnet-sessionid} - RequestId=${aspnet-item:variable=RequestId} - ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${logger}|${message} ${exception}" />

    <target xsi:type="File" name="ByLevelAndSession" fileName="logs\${level}-Session_${aspnet-user-identity}_${aspnet-sessionid}.log"
            layout="${uppercase:${level}}|SessionId=${aspnet-sessionid} - RequestId=${aspnet-item:variable=RequestId} - ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${logger}|${message} ${exception}" />
    

	  <target xsi:type="File" name="RequestsTo3rdPartiesSession" fileName="logs\HttpRequests-Session_${aspnet-user-identity}_${aspnet-sessionid}.log"
	          layout="${uppercase:${level}}|SessionId=${aspnet-sessionid} - RequestId=${aspnet-item:variable=RequestId} - ${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${logger}|${message} ${exception}" />
    <target name="Console" xsi:type="Console" layout="${message}"/>
	 <target xsi:type="File" name="CacheTargetSession" fileName="logs\Cache-Session_${aspnet-user-identity}_${aspnet-sessionid}.log" layout="Thread number:${threadid}|${date:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}|${logger}|${message} ${exception}" />
  </targets>
</nlog>