<?xml version="1.0" encoding="utf-8" ?>
<!--TODO: MORE ACCURATE CONFIGURATION TBD-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-output.txt"
      throwExceptions="true" 
      throwConfigExceptions="true">
	<include file="nlog.config" />
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="All" />

		<!--Skip Microsoft logs - no writeTo attribute-->
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="*" minlevel="Trace" writeTo="Console" enabled="true" />
		<logger name="*" minlevel="Trace" writeTo="ByLevel" enabled="true" />
		<logger name="HttpRequestsToDependencies" minlevel="Trace" writeTo="RequestsTo3rdParties" enabled="true"/>
	</rules>
 
</nlog>