
@model S3.App.AspNetCore3_1.Flows.SharedFlowComponents.Main.SampleInput.ViewModel
<div class="row">
	<div class="col-md-3">
		<b>Input Sample from component:</b>
		@Html.TextBoxFor(m => m.StringValue)
		@Html.ValidationMessageFor(m => m.StringValue)
	</div>
</div>


