<div class="portal-details__form" data-testid="faq-bills-and-payments-component">
    <h2>Can our FAQs help?</h2>
    <ul>
        <li class="mb-2"><a href="https://electricireland.ie/residential/help/billing/how-do-i-adjust-an-estimated-bill" class="green" target="_blank">How do I adjust an estimated bill?</a></li>
        <li class="mb-2"><a href="https://electricireland.ie/residential/help/billing/when-do-i-have-to-pay-my-electric-ireland-bill" class="green" target="_blank">When do I have to pay my Electric Ireland bill?</a></li>
        <li class="mb-2"><a href="https://electricireland.ie/residential/help/billing/how-can-i-pay-my-electricity-and-gas-bill-from-electric-ireland" class="green" target="_blank">How can I pay my electricity and gas bill from Electric Ireland?</a></li>
        <li class="mb-2"><a href="https://electricireland.ie/residential/help/online-billing/are-my-debit-card-details-secure" class="green" target="_blank">Are my debit card details secure?</a></li>
        <li class="mb-2"><a href="https://electricireland.ie/residential/help/billing/if-i-pay-through-direct-debit-when-will-my-direct-debit-be-deducted-form-my-bank-account" class="green" target="_blank">If I pay through direct debit, when will my direct debit be deducted from my bank account?</a></li>
        <li class="mb-2"><a href="https://electricireland.ie/residential/help/billing/what-happens-if-there-isn-t-enough-money-in-my-bank-account-to-pay-my-bill-by-direct-debit" class="green" target="_blank">What happens if there isn't enough money in my bank account to pay my bill by direct debit?</a></li>
        <li class="mb-2"><a href="https://electricireland.ie/residential/help/billing/how-is-my-monthly-equaliser-payment-calculated" class="green" target="_blank">How is my monthly Electricity Equaliser and/or Gas Equaliser payment calculated?</a></li>
        <li><a href="https://electricireland.ie/residential/help/billing/what-happens-if-i-miss-a-monthly-direct-debit-equaliser-payment" class="green" target="_blank">What happens if I miss a monthly direct debit Equaliser payment?</a></li>
    </ul>
    <a href="https://www.electricireland.ie/residential/help/billing" class="btn btn-xs green mt-4" target="_blank">See all FAQs on billing and payment</a>
    <p class="mb-0">If our FAQs don't answer your question you can get in touch with us using the form below.</p>
</div>
