@using EI.RP.WebApp.Flows.AppFlows.Plan.Components.AccountBilling
@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.AccountsPaymentConfiguration.FlowDefinitions

@model ViewModel

<div class="plan-your-plan-upgrade">
    <div class="row mb-4 flex-wrap">
        <div class="col-12 mb-4">
            <h3 class="m-0" data-testid="equaliser-heading">Equal monthly payments</h3>
        </div>
        <div class="col-12 mb-5">
            <p class="m-0" data-testid="equaliser-text">Spread the cost of your energy with fixed monthly Direct Debit.</p>
        </div>
        <div class="col-12 text-center">
            @if (Model.IsContractPending)
            {
                <flow-action class="btn btn-primary disabled"
                             data-testid="equaliser-nolink"
                             >Find out more <span class="d-none d-md-inline">about equal monthly payments</span></flow-action>
            }
            else
            {
                <flow-action class="btn btn-primary"
                             data-testid="equaliser-link"
                             action-type="StartFlow"
                             flow-location="SameContainerAsMe"
                             flow-name="@ResidentialPortalFlowType.AccountsPaymentConfiguration"
                             flow-parameters="@(new AccountsPaymentConfigurationFlowInput
                                          {
                                              StartType = AccountsPaymentConfigurationFlowStartType.EqualizerMonthlySetup,
                                              AccountNumber = Model.AccountNumber })">Find out more <span class="d-none d-md-inline">about equal monthly payments</span></flow-action>
            }

        </div>
    </div>
</div>
