@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.TermsInfo.Steps
@using EI.RP.WebApp.Flows.AppFlows.TermsInfo.FlowDefinitions
@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.AppFlows.TermsInfo.Steps.TermsInfoIndex.TermsInfoScreenModel

@functions
{
    enum PageComponent
    {
        Header = 1,
    }
}

@{
    var componentPreLoader = new ComponentPreLoader<PageComponent>(Component, Model);

    componentPreLoader.StartLoading<EI.RP.WebApp.Flows.SharedFlowComponents.Main.Header.Component>(PageComponent.Header,
        new EI.RP.WebApp.Flows.SharedFlowComponents.Main.Header.InputModel
        {
            Title = "Terms and Conditions of Your Account Online"
        });
}

<div class="portal-header portal-header--without-menu">
    @await componentPreLoader.Render(PageComponent.Header)
</div>

<div class="position-relative">
    <div class="sub-navigation-overlay"></div>
    <div class="container" data-page="terms-and-conditions">
        <div class="portal-details terms">

            <ol class="terms__menu">
                <li><a href="#access">Getting access to your account online</a></li>
                <li><a href="#bills">No paper bills</a></li>
                <li><a href="#security">Security</a></li>
                <li><a href="#limitation">Limitation of liability</a></li>
                <li><a href="#provision">Provision of an up-to-date email address</a></li>
                <li><a href="#types">Types of electricity accounts excluded from your account online</a></li>
                <li><a href="#account">Your account online adjustments</a></li>
                <li><a href="#changing">Changing the electricity or gas supply address for your account online</a></li>
                <li><a href="#deregistration">Deregistration of your account online</a></li>
                <li><a href="#cancel">How to cancel your account online</a></li>
                <li><a href="#consequences">Consequences of deregistration</a></li>
                <li><a href="#payment">Payment methods and credit terms</a></li>
                <li><a href="#data">Data protection</a></li>
                <li><a href="#force">Availability and Force majeure</a></li>
                <li><a href="#acceptance">Acceptance of terms</a></li>
                <li><a href="#contact">Contact us</a></li>
            </ol>

            <div class="terms__content">

                <p>This website is owned and operated by Electric Ireland (referred to as "ESB", "we", "us" and "our"), which expression shall also include our agents and associated companies including, where the context requires, our third party suppliers and any other person(s) involved with the provision or maintenance of the website. Users must use the your account online section of our website ("the Site") and the facilities made available on it only for their intended purposes, and must at all times act in good faith when doing so. We agree to provide you (also referred to as the "User" and "your") with permission to access, use and interact on the Site subject to these Terms and Conditions which are applicable in conjunction with our <a href="https://www.electricireland.ie/residential/helpful-links/electricity-and-gas-general-terms-and-conditions" target="_blank">General Conditions of Supply</a> and <flow-action data-testid="privacy-notice-link" action-type="StartFlow" flow-location="SameContainerAsMe" flow-name=@ResidentialPortalFlowType.TermsInfo flow-parameters=@(new TermsInfoInput { StartType = TermsInfoFlowInitializer.StartType.Privacy }) target="_blank">Privacy Notice</flow-action>. Please ensure you are familiar with these documents. If you do not accept any of the terms and conditions set out in these documents please do not proceed to set up your account online.</p>

                <h2 id="access">1. Getting access to your account online</h2>
                <p>To register as a User of your account online you must complete the online registration form. The fields required on this form are your account number, the last six digits of your Meter Point Reference Number ("MPRN") for electricity accounts or the last six digits of your Gas Point Reference Number ("GPRN") for gas accounts (your MPRN/GPRN is displayed in the top right hand corner of your bill), your email address and your telephone number(s). You will then be sent an email with your registered email address and password so that you can log on to the Site and access your account details. Please note that when you use your registered email address and password you are authorising us to carry out all the instructions you have given us on this Site.</p>

                <h2 id="bills">2. No paper bills</h2>
                <p>You will only become a User when you log on to the Site using your registered email address and password for the first time. Once you do this you will no longer receive paper bills. Instead, from that point onwards, you will receive an email notification to let you know when your bill is available to view online. By signing up for online billing, all your associated accounts with Electric Ireland will automatically be added to your online billing account e.g. holiday homes, landlords/rental properties, additional family members accounts.</p>

                <h2 id="security">3. Security</h2>
                <p>
                    To register as a User of your account online you must be the account owner or be authorised by the account owner. If you are not the account owner or an authorised person you are committing a serious offence under the Criminal Justice (Theft and Fraud Offences) Act, 2001. We will only allow you to log on and use the Site using your registered email address and your password. You must make sure that nobody else knows your registered email address and password. Please do not write them down. If you think that somebody may know your registered email address and password, you can change your password immediately through the edit your details section of the Site.<br/>
                    If you are the account owner and you wish to terminate the access to your account by an authorised person, you must send us an email to <a href="mailto:eservice@electricireland.ie">eservice@electricireland.ie</a> withdrawing the authorisation.<br/>
                    The Site will make use of Secure Sockets Layer (SSL) technology to protect the integrity of sensitive data (e.g. personal financial data) that is transferred over the public internet. We will deploy appropriate measures to ensure the confidentiality of sensitive data after it has been collected, e.g. software (firewall), hardware (secure physical location for backup tapes).
                </p>

                <h2 id="limitation">4. Limitation of liability</h2>
                <p>To the fullest extent permitted by applicable law, neither Electric Ireland nor any of its employees, affiliates or other representatives will be liable for loss or damages arising out of or in connection with your use of, or your inability to use, the facilities or services offered through the Site, including, but not limited to, indirect or consequential loss or damages, loss of data, income, profit or opportunity, loss of or damage to property and claims of third parties, even if Electric Ireland has been advised of the possibility of such loss or damages, or such loss or damages were reasonably foreseeable.</p>

                <h2 id="provision">5. Provision of an up-to-date email address</h2>
                <p>For your account online to operate you must provide us with a valid and up-to-date email address so that your bill notification is received electronically. If you change your email address you must let us know immediately using the edit your details section of the Site. By becoming a User of your account online you will receive an email bill notification as frequently as you received your paper bills. In the event this does not happen, please let us now immediately using the contact us section of the Site or by telephoning us on 1850 372 372.</p>

                <h2 id="types">6. Types of electricity accounts excluded from your account online</h2>
                <p class="no-margin">You cannot register as a User of your account online if you have the following type of account:</p>
                <ol>
                    <li>electricity accounts on the Maximum Demand tariff ("MD").</li>
                    <li>electricity accounts that have quarter hourly profile billing ("QH").</li>
                    <li>electricity accounts with Group Billing.</li>
                    <li>public lighting electricity accounts.</li>
                </ol>
                <p>However, if you have one of the above account types you may wish to register for a Business Online account. Business Online allows our business customers to monitor electricity consumption and demand over time and view/compare bills.</p>

                <h2 id="account">7. Your account online adjustments</h2>
                <p class="no-margin">We will use reasonable endeavours to provide you with an adjusted electronic bill PROVIDED ONLY the following 2 conditions are met:</p>
                <ol>
                    <li>the adjustment relates to an estimated bill; and</li>
                    <li>you notify us within 8 days of issue of the estimated bill. Adjustments submitted after this period may be used for future billing, however, you will not receive an adjusted bill.</li>
                </ol>

                <h2 id="changing">8. Changing the electricity or gas supply address for your account online</h2>
                <p>If you wish to change your electricity or gas supply address for your account online, you can email us at <a href="mailto:eservice@electricireland.ie">eservice@electricireland.ie</a> or call us on 1850 372 372.</p>

                <h2 id="deregistration">9. Deregistration of your account online</h2>
                <p>We, at our sole discretion, reserve the right to deregister you as a User of your account online. Without limiting the generality of the foregoing, deregistration will occur if your account has been set up with an unauthorised or invalid email address or if a court order or any statutory or regulatory body so directs or you are in breach of these terms and conditions. When your account online is deregistered, your subsequent bills will be sent, in paper format, to the postal address of the account owner. Where reasonably possible, we will write to you at the account address when we deregister any accounts except where you have opted to deregister yourself or where Automatic Deregistration has occurred. If we close or delete your account online, you can ask us for a new one at any time, except where we have closed or deleted your account for breach of these terms and conditions.</p>

                <h2 id="cancel">10. How to cancel your account online</h2>
                <p>If you would like to deregister from our online account service then simply email <a href="mailto:eservice@electricireland.ie">eservice@electricireland.ie</a> at any time quoting your account number, name and address. Please give us 10 days notice, from which date we will cease sending you bill notification emails and presenting your bills online and will revert back to sending you paper bills by post.</p>
                
                <h2 id="consequences">11. Consequences of deregistration</h2>
                <p>If your account online is deregistered for any reason, you will lose any discounts associated with online billing.  There may be other consequences depending on the Price Plan you have chosen.  Please refer to your Price Plan terms and conditions for further information.</p>
                <p>If your account online is deregistered due to our error, we will reinstate your tariff and restore your discounts as soon as possible after we become aware of the error.</p>

                <h2 id="payment">12. Payment methods and credit terms</h2>
                <p class="no-margin">Payment is due within 14 days of date of issue of your online bill. We reserve the right to reduce this period to 10 days and we will notify you in advance of doing this. Any outstanding balance owing on your previous bill(s) is due immediately. You can settle your account in the following ways;</p>
                <ul>
                    <li><span>On-Line</span>: by Debit or Credit Card.</li>
                    <li><span>Direct Debit</span>: is the simplest way to pay your bill. It means no more queuing, writing cheques or hunting for stamps. You can set up a new direct debit or edit your existing direct debit details by clicking on edit your details.</li>
                    <li><span>Internet/Telephone Banking</span>: Most banks and building societies have the facility to let customers pay their electricity bills online or by telephone. For further details contact your financial institution.</li>
                </ul>

                <h2 id="data">13. Data protection</h2>
                <p>All personal data collected and processed by Electric Ireland relating to Your Account Online will be managed in accordance with data protection and privacy laws. For further information on how We manage Your personal data, Your rights and how to exercise them, please refer to <a href="https://www.electricireland.ie/residential/helpful-links/electricity-and-gas-general-terms-and-conditions" target="_blank">Electric Ireland’s General Conditions of Supply</a> and <flow-action data-testid="privacy-notice-link" action-type="StartFlow" flow-location="SameContainerAsMe" flow-name=@ResidentialPortalFlowType.TermsInfo flow-parameters=@(new TermsInfoInput { StartType = TermsInfoFlowInitializer.StartType.Privacy }) target="_blank">Our Privacy Notice</flow-action>.</p>

                <h2 id="force">14. Availability and Force majeure</h2>
                <p>Electric Ireland does not guarantee that Your Account Online will be accessible without interruption or be error-free. Electric Ireland shall not be liable for any breach of these Terms and Conditions or any failure to provide or delay in providing access through the Site resulting from any event or circumstances beyond our reasonable control including, without limitation, strikes, lockouts and other industrial disputes, breakdown of systems or network access or other technical equipment including software, fire, explosion or accident.</p>

                <h2 id="acceptance">15. Acceptance of terms</h2>
                <p>By accessing this Site, you agree to the Terms and Conditions. We reserve the right to change the Terms and Conditions from time to time at our sole discretion. Your use of the Site will be subject to the most current version of the Terms and Conditions posted on the Site at the time of such use. If you breach any of the Terms and Conditions, your authorisation to use this Site automatically terminates and you must immediately destroy any materials downloaded or printed from the Site.</p>

                <h2 id="contact">16. Contact us</h2>
                <p>If you are experiencing any difficulties in using your account online, you can contact us by email at <a href="mailto:eservice@electricireland.ie">eservice@electricireland.ie</a>.</p>
            </div>
        </div>
    </div>
</div>
