@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.AccountsPaymentConfiguration.Steps
@using EI.RP.WebApp.Infrastructure.Extensions

@model EI.RP.WebApp.Flows.AppFlows.AccountsPaymentConfiguration.Steps.ChoosePaymentOption.ScreenModel

@using (await Html.BeginUiFlowFormAsync(Model))
{
    <div class="mt-5">
        <flow-action id="btnGoBack"
                     class="btn-xs btn-xs-back green"
                     action-type="TriggerEvent"
                     tag-type="Anchor"
                     trigger-event="@ChoosePaymentOption.StepEvent.GoBackSelected">Go back</flow-action>
    </div>
}
