@using Ei.Rp.DomainModels.MappingValues

@model EI.RP.WebApp.Flows.AppFlows.AccountsPaymentConfiguration.Steps.InputDirectDebitDetails.ScreenModel

<p class="smaller" data-testid="mandate-info-line-1">By signing this mandate form, you authorise (A) Electric Ireland to send instructions to your bank to debit your account and (B) your bank to debit your account in accordance with the instruction from Electric Ireland. As part of your rights, you are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited. Your rights are explained in a statement that you can obtain from your bank.</p>
<p class="smaller" data-testid="mandate-info-line-2">This Direct Debit form is for ROI bank accounts only. If you want to use a non-Irish bank account please <a id="dds_mandate_download" href="https://electricireland.ie/docs/default-source/roi-business-help---billing/2013-dd-mandate-9-1.pdf" target="_blank">download and print the following mandate (PDF).</a></p>
@if (Model.PaymentMethod == PaymentMethodType.Equalizer)
{
    <p class="smaller" data-testid="mandate-info-equalizer">Please note if you download and return this mandate you will not be automatically set up for Equal Monthly Payments. You will need to wait until your account is on Direct Debit and then you can sign up for Equal Monthly Payments.</p>
}
