@model EI.RP.WebApp.Flows.AppFlows.AccountsPaymentConfiguration.Steps.InputDirectDebitDetails.ScreenModel

<div class="form-group form-check">
    <div class="custom-control custom-checkbox">
        @Html.CheckBoxFor(model => model.TermsAndConditionsAccepted,
            new
            {
                @class = "custom-control-input",
                id = "terms"
            })
        <label class="custom-control-label" for="terms" id="terms-label">I/we authorise you until further notice to charge to my/our account variable amounts that may be debited by Electric Ireland.</label>
        @Html.ValidationMessageFor(model => model.TermsAndConditionsAccepted, "", 
            new
            {
                id = "terms-error",
                @class = "alert alert-form alert-danger"
            })
    </div>
</div>
