@using Ei.Rp.Mvc.Core.Controllers
@using Ei.Rp.Mvc.Core.Cryptography.AntiTampering
@using EI.RP.WebApp.Controllers.Membership

@model EI.RP.WebApp.Models.Membership.RequestChangePasswordViewModel

@{
    ViewBag.Title = "Create Password";
}

<h1 class="page-login__title forgot-password-change-page">Create Password</h1>
<p class="page-login__subtitle mb-5">You will use this password to log in to your account.</p>
@using (Html.BeginForm(nameof(ForgotPasswordController.RequestChangePassword), typeof(ForgotPasswordController).GetNameWithoutSuffix(), FormMethod.Post, new { id = "forceChangePass", @class = "form-password-wrapper" }))
{
    @await Html.HoneypotForAsync(m => m.PotText)
    @await Html.SecureHiddenForAsync(model => model.RequestId, false)
    @await Html.SecureHiddenForAsync(model => model.ActivationKey, false)
    @await Html.SecureHiddenForAsync(model => model.Email, false)
    @await Html.SecureHiddenForAsync(model => model.TemporalPassword, new { id = "currentPassword" }, false)

    <div class="form-group w-100 mb-5">
        <div class="form-password">
            <label for="signupPassword">Password</label>
            <div class="position-relative">
                @Html.TextBoxFor(model => model.RequestChangePasswordFormData.NewPassword, new
                {
	                id = "signupPassword",
	                name = "password", 
	                type = "password", 
	                @class = "w-100 form-control", 
	                @maxlength = "40",
	                placeholder = "********", 
	                ariaLabel = "Password"
                })
                <button type="button" class="toggle-password-visibility" aria-label="Show Password">show</button>
            </div>
            @Html.ValidationMessageFor(model => model.RequestChangePasswordFormData.NewPassword, "", new { @class = "alert alert-form alert-danger w-100" })
        </div>
        <ul class="password-criteria pl-0 mb-5">
            <li id="8char">Use 8 or more characters</li>
            <li id="lcase">Mix of lower case &amp; upper case</li>
            <li id="num">Numbers</li>
        </ul>
    </div>

    @Html.ValidationSummary(true, "", new
    {
        @class = "alert alert-form alert-danger w-100 mt-5 mb-5",
        role = "alert"
    })

    <div class="row">
        <div class="col-12 col-lg-10">
            <button type="submit" class="btn btn-primary btn-lg btn-submit-password">Continue</button>
        </div>
    </div>
}

@section images
{
    <div class="page-login__img" style="background-image: url('@Url.Content("~/img/password-bg.jpg")')"></div>
}
