@using Ei.Rp.Mvc.Core.Controllers
@using Ei.Rp.Mvc.Core.Cryptography.AntiTampering
@using EI.RP.WebApp.Controllers.Membership

@model EI.RP.WebApp.Models.Membership.ResetPasswordViewModel

@{
    ViewData["Title"] = "Password Reset";
}

<h1 class="page-login__title">Password Reset</h1>
<p class="page-login__subtitle mb-5">Enter the email address you registered with below. We will send an email to your contact email address to reset your Password</p>
@using (Html.BeginForm(nameof(ForgotPasswordController.RequestResetPassword), typeof(ForgotPasswordController).GetNameWithoutSuffix(), FormMethod.Post, new { @class = "form-password-wrapper", id = "resetpassword" }))
{
    @await Html.HoneypotForAsync(m => m.PotText)

    <div class="form-group w-100 mb-5">
        <label for="txtEmail">Email Address</label>
        @Html.TextBoxFor(m => m.ResetPasswordFormData.Email, new { @class = "form-control w-100", @maxlength = "60",placeholder = "Email", id = "txtEmail", type = "text" })
        @Html.ValidationMessageFor(m => m.ResetPasswordFormData.Email, "", new { @class = "alert alert-form alert-danger w-100", id = "emailErrorMsg" })
    </div>

    @Html.ValidationSummary(true, "", new
    {
        @class = "alert alert-form alert-danger w-100 mt-5 mb-5", 
        data_testid = "validation_errors",
        role = "alert"
    })

    <div class="row">
        <div class="col-12 col-lg-8">
            <button id="btnResetPassword" type="submit" class="btn btn-primary btn-lg btn-lg-reset-password">Reset my Password</button>
        </div>
    </div>
}

@section images
{
    <div class="page-login__img" style="background-image: url('@Url.Content("~/img/password-bg.jpg")')"></div>
}
