@using Ei.Rp.Mvc.Core.Controllers
@using EI.RP.WebApp.Controllers.Membership
@model EI.RP.WebApp.Models.Membership.ResetPasswordViewModel

@{
    ViewData["Title"] = "Password Reset";
}

<main data-page="reset-password-confirmation-email-page">
    <h1 class="page-login__title"  data-testid="reset-password-confirmation-email-heading">Check your email</h1>
    <div data-testid="reset-password-confirmation-email-message">
        <p class="page-login__subtitle mb-3">We have emailed your contact email address with a link to create a new password.</p>
        <p class="page-login__subtitle">
            For security reasons this link will expire in 24 hours. If you do not click the link and reset your password within 24 hours, your password will remain unchanged.
        </p>
        <p class="page-login__subtitle">
            If you haven’t received an email in the next few minutes, please check your spam or junk folder or
            <a id="resubmitEmail" asp-controller="@typeof(ForgotPasswordController).GetNameWithoutSuffix()"
               asp-action="@nameof(ForgotPasswordController.ResetPassword)">resubmit your email address</a>.
        </p>
        <p class="page-login__subtitle">
            Alternatively, you can call customer service on 1850 372 372 from 8am - 8pm, Monday - Saturday
        </p>
    </div>
    @section images
        {
        <div class="page-login__img" style="background-image: url('@Url.Content("~/img/password-bg.jpg")')"></div>
    }
</main>