@using Ei.Rp.Mvc.Core.Controllers
@using EI.RP.WebApp.Controllers.Membership

@model EI.RP.WebApp.Models.Membership.PasswordModel

@{
    ViewData["Title"] = "Password Reset";
}

<h1 class="page-login__title reset-password-link-expired-page">This Link has expired</h1>
<p class="page-login__subtitle mb-3">Your password reset link has expired and your password has not been changed.</p>
<p class="page-login__subtitle">
    To reset your password again please
    <a id="ResetPasswordAgain" href="@Url.Action(nameof(ForgotPasswordController.ResetPassword), typeof(ForgotPasswordController).GetNameWithoutSuffix())" class="btn-xs btn-xs--no-icon">click here</a>
    or alternatively
    <a id="SignUp" href="@Url.Action(nameof(LoginController.Login), typeof(LoginController).GetNameWithoutSuffix())" class="btn-xs btn-xs--no-icon">login</a>
    into your account using your old password.
</p>

@section images 
{
    <div class="page-login__img" style="background-image: url('@Url.Content("~/img/password-bg.jpg")')"></div>
}
