@using EI.RP.UiFlows.Core.Flows.Screens.Models
@using EI.RP.UiFlows.Mvc.Components.PreLoad

@model EI.RP.WebApp.Flows.SharedFlowComponents.Main.Footer.ViewModel
@{
	var componentPreLoader = new ComponentPreLoader<string>(Component, Model.ScreenModel);
	foreach (var item in Model.NavigationItems.Where(x => x.AnchorLink != null))
	{
		componentPreLoader.StartLoading<EI.RP.WebApp.Flows.SharedFlowComponents.Main.AnchorLink.Component>(item.AnchorLink.Identifier,
			new EI.RP.WebApp.Flows.SharedFlowComponents.Main.AnchorLink.InputModel
		{
			AnchorLinkItem = item.AnchorLink
		});
	}

}
	<footer class="portal-footer @(Model.IsAlwaysOnBottom ? "always-on-bottom" : string.Empty)">
		<div class="sub-navigation-overlay"></div>
		<div class="container">
			<ul>
				@foreach (var item in Model.NavigationItems)
				{
				    <li class="@item.GetClassListString()"
					    @Html.Raw(string.IsNullOrWhiteSpace(item.Role) ? string.Empty : $"role=\"{item.Role}\"")>
					    @if (item.AnchorLink != null)
					    {
						    @await componentPreLoader.Render(item.AnchorLink.Identifier)
					    }
				    </li>
				}
                <li>
                    <a href="#" class="optanon-toggle-display">Cookie Settings</a>
                </li>
			</ul>
            <p class="copyright">© Copyright 2020 Postal Address: Electric Ireland, PO Box 841, South City Delivery Office, Cork</p>
		</div>
	</footer>
