<#@ template language="C#" #>

using EI.RP.UiFlows.Core.Flows.Initialization;

namespace EI.RP.WebApp.Flows.AppFlows.<#=this.Options.FlowName#>.FlowDefinitions
{
  /// <summary>
	///Input parameter of the flow (<#=this.Options.FlowName#>) 
	/// </summary>
	public class <#=this.Options.FlowName#>Input :  I<#=this.Options.FlowName#>Input
	{
//add your flow(<#=this.Options.FlowName#>) input parameters here
	}
}
