@using Ei.Rp.DomainModels.MappingValues

@model EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Components.PaymentMessages.ViewModel

@if (Model.PaymentMethod == PaymentMethodType.DirectDebit)
{
    <div class="col-sm mb-4 mb-md-0">
        <p class="font-weight-bold">Direct Debit Customers</p>
        <p>If you are on Direct Debit and wish to make a card payment please do so at least 7 days before your bill due date, otherwise the full bill amount will be debited from your account.</p>
    </div>
}
