@using Ei.Rp.DomainModels.MappingValues

@model EI.RP.WebApp.Flows.AppFlows.MakeAPayment.Components.PaymentMessages.ViewModel

@if (Model.AccountType == ClientAccountType.Gas)
{
    <div class="col-sm" data-testid="make-a-payment-payg-message">
        <p class="font-weight-bold">Gas Pay As You Go Customers</p>
        <p>The payment form on this page <b>will not</b> add credit to your Gas PAYG meter.</p>
        <p>You can top up your Gas PAYG meter at any shop or garage displaying the Payzone logo.</p>
    </div>
}
