@model ErrorViewModel

@{
    Layout = "_Layout_WithNav";
    ViewData["Title"] = "Authorization denied";
}

<div class="portal-details__form meter-reading">
    <h2 class="error">Not Authorized</h2>
</div>
