@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.WebApp.Flows.AppFlows.AccountDashboard.FlowDefinitions
@using EI.RP.WebApp.Flows.AppFlows.TermsInfo.Steps
@using ImpromptuInterface

@model EI.RP.WebApp.Flows.SharedFlowComponents.Main.PrivacyNoticeMessage.ViewModel

<div class="portal-details__note mt-5" data-testid="privacy-notice-message-component">
    <p class="mt-0 mb-0">
        @Model.PrependedMessage The data controller is the Electricity Supply Board, trading as Electric Ireland. Please refer to our
        <flow-action data-testid="privacy-notice-message-component-link"
                     target="_blank"
                     action-type="StartFlow"
                     flow-location="NotContained"
                     flow-name=@ResidentialPortalFlowType.AccountDashboard
                     flow-parameters=@(new AccountDashboardFlowInput {InitialFlow = ResidentialPortalFlowType.TermsInfo, InitialFlowStartType = TermsInfoFlowInitializer.StartType.Privacy.ToString(), AccountNumber = @Model.AccountNumber})>Privacy Notice</flow-action>.
    </p>
</div>