@{
	Layout = null;
}

@model EI.RP.WebApp.Controllers.PaymentGatewayCallbackController.PaymentResultViewModel

@if (Model.PaymentWasSuccessful)
{
	<div class="alert-box alert-box__success">
		<p>
			@Model.Message
		</p><span class="icon-close"></span>
	</div>
}
else
{
	<div class="alert-box alert-box__error"><p>@Model.Message</p><span class="icon-close"></span></div>
}