@using EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps

@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.Step1InputCloseAccountDetails.ScreenModel

<div class="modal modal-lg fade modal-portal" id="modal-close-accounts" tabindex="-1" role="dialog" aria-labelledby="modal-close-accounts-label" aria-hidden="true" data-trap-focus>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title modal-title-wider" id="modal-close-accounts-label">Are you sure?</h1>
            </div>
            <div class="modal-body modal-body--text">
                @if (Model.IsDuelFuel())
                {
                    <p>You are closing both your accounts, this can not be undone.</p>
                }
                else
                {
                    <p>You are closing @(!string.IsNullOrEmpty(Model.ElectricityAccountNumber)?"Electricity":"Gas") account, this can not be undone.</p>
                }
            </div>
            <div class="modal-footer no-flex">
                <flow-action class="btn btn-primary" id="btnCloseAccount"
                             action-type="TriggerEvent"
                             trigger-event="@Step1InputCloseAccountDetails.StepEvent.CloseElectricity">Continue</flow-action>
                <button type="button" class="btn btn-xs btn-xs-landing" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
