@if (Model.HasStaffDiscount)
{  
    <div class="col-lg-4 d-flex align-items-start flex-column">
        <p>Transfer my Electricity account</p>
        <p class="options__desc">Your account appears to have staff discount applied. To ensure this is transferred please call us on 1850 372 372</p>
    </div>
}
else
{
    <div class="col-lg-4 d-flex align-items-start flex-column">
        <p class="mb-auto">Transfer my Electricity account</p>
        <p class="options__desc">I want to transfer my Electricity account to my new address.</p>
        <a id="btnMoveElec" class="btn btn-primary" href="#move-both" data-toggle="modal">Move Electricity</a>
    </div>
    <div class="col-lg-4 d-flex align-items-start flex-column">
        <p class="mb-auto">Transfer my Electricity account &amp; add Gas</p>
        <p class="options__desc">I want to transfer my Electricity account to my new address and add a new Gas account.</p>
        <a id="btnMoveElecAndAddGas" class="btn btn-primary" href="#move-and-close" data-toggle="modal">Move Electricity & Add Gas</a>
    </div>
}
<div class="col-lg-4 d-flex align-items-start flex-column">
    <p class="@(Model.HasStaffDiscount ? string.Empty : "mb-auto")">Close my account</p>
    <p class="options__desc">I want to close my account and leave Electric Ireland.</p>
    <a id="btnCloseElec" class="btn btn-secondary" href="#close-both" data-toggle="modal">Close Electricity</a>
</div>
