@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.Step0OperationSelection.ScreenModel

<div id="exitFeeMoveAndCloseDetail" class="portal-details__note mt-5">
@if (Model.HasElectricityAccountExitFee && Model.HasGasAccountExitFee)
{
    @:<strong>PLEASE NOTE:</strong> The Gas Account (@Model.GasAccountNumber) and the Electricity Account (@Model.ElectricityAccountNumber) are still in contract. By closing this account <strong>you will incur an early exit fee of €50</strong>. This will be added to your final bill.
}
else if (Model.HasElectricityAccountExitFee)
{
    @:<strong>PLEASE NOTE:</strong> The Electricity Account (@Model.ElectricityAccountNumber) is still in contract. By closing this account <strong>you will incur an early exit fee of €50</strong>. This will be added to your final bill.
}
else if (Model.HasGasAccountExitFee)
{
    @:<strong>PLEASE NOTE:</strong> The Gas Account (@Model.GasAccountNumber) is still in contract. By closing this account <strong>you will incur an early exit fee of €50</strong>. This will be added to your final bill.
}
</div>