<div class="col-lg-4 d-flex align-items-start flex-column">
    <p class="mb-auto">Transfer my Gas account</p>
    <p class="options__desc">I want to transfer my Gas account to my new address.</p>
    <a id="btnMoveGas" class="btn btn-primary" href="#move-both" data-toggle="modal">Move Gas</a>
</div>
<div class="col-lg-4 d-flex align-items-start flex-column">
    <p class="mb-auto">Transfer my Gas account &amp; add Electricity</p>
    <p class="options__desc">I want to transfer my Gas account to my new address and add a new Electricity account.</p>
    <a id="btnMoveGasAndAddElec" class="btn btn-primary" href="#move-and-close" data-toggle="modal">Move Gas & Add Electricity</a>
</div>
<div class="col-lg-4 d-flex align-items-start flex-column">
    <p class="mb-auto">Close my account</p>
    <p class="options__desc">I want to close my account and leave Electric Ireland.</p>
    <a id="btnCloseGas" class="btn btn-secondary" href="#close-both" data-toggle="modal">Close Gas</a>
</div>
