@model EI.RP.WebApp.Flows.AppFlows.MovingHouse.Steps.Step0OperationSelection.ScreenModel

<div class="row landing landing--cards" id="movingHouseLandingPageHeader" data-testid="mimo-0-header">
    <div class="col-lg-4 text-center" data-testid="mimo-0-on-moving-day-box">
        <img src="~/img/icon-home.svg" alt="" />
        <h3 data-testid="mimo-0-on-moving-day-title">1. On moving day</h3>
        <p>On the day you move out take your final meter readings</p>
        <a href="https://www.electricireland.ie/residential/help/meters" target="_blank" class="btn btn-xs green">How do I read my meter?</a>
    </div>
    <div class="col-lg-4 text-center" data-testid="mimo-0-after-you-move-in-box">
        <img src="~/img/icon-keys.svg" alt="" />
        <h3 data-testid="mimo-0-after-you-move-in-title">2. After you move in</h3>
        <p>On the day you move in take your new meter readings and get your new MPRN / GPRN.</p>
        <a href="https://www.electricireland.ie/residential/help/moving-in-or-out" target="_blank" class="btn btn-xs green">Where will I find my new MPRN / GPRN?</a>
    </div>
    <div class="col-lg-4 text-center" data-testid="mimo-0-complete-move-online-box">
        <img src="~/img/icon-cursor.svg" alt="" />
        <h3 data-testid="mimo-0-complete-move-online-title">3. Complete move online</h3>
        <p>Once you have everything ready, select one of the options below.</p>
    </div>
</div>
