<div id="instalmentPlanDetail" class="portal-details__note mt-5">
    <strong>PLEASE NOTE:</strong> Your instalment plan will be cancelled and any amount due on your final bill will need to be paid in full.
</div>
