
@model S3.App.Flows.AppFlows.ComponentsFlow.Components.SampleComponentAsync.SampleComponentViewModelAsync
<div class="row">
	<div class="col-md-3" id="SampleComponentAsync">
		<b>Async Value:</b>@Model.Value <b>Data From Restored Screen Model:</b>@Model.DataFromRestoredScreenModel
	</div>
</div>

