@model EI.RP.WebApp.Models.OnlineAccount.CreateOnlineAccountModel

@{
    ViewData["Title"] = "Sign up";
}

<div data-page="create-account-confirmation-email-sent">
    <h1 class="page-login__title create-account-confirmation-email-page">Check your email</h1>
    <p class="page-login__subtitle mb-3" style="word-break:break-word;">We've just sent you an activation link to <strong>@Model.CreateOnlineAccountFormData.Email</strong>. When it arrives, click the link to continue.</p>
    <p class="page-login__subtitle">
        If you haven't received an email in the next few minutes, check your spam or junk folder.
        If the email address above is wrong, please call 1890 372 372
    </p>
</div>

@section images 
{
    <div class="page-login__img" style="background-image: url('@Url.Content("~/img/login-signup-bg.jpg")')"></div>
}
