
;

@{
	ViewData["Title"] = "Containers 3 sample Number1Step";
}
@using S3.UiFlows.Mvc.Components
@model S3.UiFlows.Core.Flows.Screens.Models.UiFlowScreenModel

<div id="Containers3FlowPage">
	<div class="row">
		<div class="col-md-3">
			<h2>Containers 3 sample Number1Step</h2>
		</div>
	</div>


	<div id="contained-part"  style="background-color: orange; margin-left: 30px;">
		<vc:embedded-flow input=@(new EmbeddedFlowComponent.ComponentParameters{Model=Model}) />
	</div>
	
	</div>