<div class="portal-details__form" data-testid="faq-meter-read-component">
    <h2>Can our FAQs help?</h2>
    <ul>
        <li class="mb-2"><a href="https://www.electricireland.ie/residential/help/meters/when-should-i-submit-an-electricity-meter-reading" class="green" target="_blank">When should I submit an electricity meter reading?</a></li>
        <li class="mb-2"><a href="https://www.electricireland.ie/residential/help/meters/How-do-i-submit-an-electricity-meter-reading" class="green" target="_blank">How do I submit an electricity meter reading?</a></li>
        <li class="mb-2"><a href="https://www.electricireland.ie/residential/help/meters/what-is-your-meter-reading-policy" class="green" target="_blank">What is your meter reading policy?</a></li>
        <li class="mb-2"><a href="https://www.electricireland.ie/residential/help/meters/when-should-i-submit-a-gas-meter-reading" class="green" target="_blank">When should I submit a gas meter reading?</a></li>
        <li><a href="https://www.electricireland.ie/residential/help/billing/will-my-meter-be-read-as-before-when-i-m-on-equaliser" class="green" target="_blank">Will my meter be read as before when I'm on Equaliser?</a></li>
    </ul>
    <a href="https://www.electricireland.ie/residential/help/meters" class="btn btn-xs green mt-4" target="_blank">See all FAQs on meters</a>
    <p class="mb-0">If our FAQs don't answer your question you can get in touch with us using the form below.</p>
</div>
