<div class="container" data-page="contact-us">
    <div class="portal-details terms">
        <div class="terms__content">
            <h2>Customer Service</h2>
            <p class="mt-2 mb-2"><strong>Phone:</strong> 1850 372 372 (8am - 8pm Mon - Sat)</p>
            <div id="LP_ROL_CONTACT_OUT"></div>
            <hr class="mt-5 mb-5" aria-hidden="true" />
            <h2>Sales</h2>
            <p class="mt-2 mb-2"><strong>Phone:</strong> 1850 30 50 90 (8am - 8pm Mon - Fri & 9am - 5.30pm Sat)</p>
            <p class="mt-2 mb-2"><strong>Email:</strong> <a href="mailto:sales@electricireland.ie">sales@electricireland.ie</a></p>
            <hr class="mt-5 mb-5" />
            <h2>Home Energy Services</h2>
            <p class="mt-2 mb-2"><strong>Phone:</strong> 1850 372 333 (9am - 6pm Mon - Fri)</p>
            <p class="mt-2 mb-2"><strong>Email:</strong> <a href="mailto:homeservices@electricireland.ie">homeservices@electricireland.ie</a></p>
        </div>
    </div>
</div>
