<div class="container" data-page="disclaimer">
    <div class="portal-details terms">
        <div class="terms__content">

            <p>1. The information contained in this website/application is of a general nature and is provided for information purposes only and should not be relied upon as a complete definitive statement in relation to any specific issue.</p>

            <p>2. Access to and use of this website/application is at the user's sole risk. Personal data passed through the Internet may not be protected or secure outside Electric Ireland's website/application. Electric Ireland, its directors, employees, servants and agents, affiliates or other representatives and their respective parent and subsidiary companies (hereinafter referred to as "Electric Ireland") is unable to guarantee the security of data outside its own computer systems, should you wish to use this mode of communication.</p>

            <p>3. Electric Ireland makes no representation, warranty or undertaking (express or implied) with respect to, and does not accept any responsibility for, (and hereby disclaims liability for), the accuracy or completeness of the information contained in this website/application. Electric Ireland does not accept responsibility for updating information contained in this website/application and therefore it should not be assumed that the information contained herein is necessarily accurate, complete or up-to-date at any given time. The information contained herein may also be subject to interference from third parties. Users should independently verify all statements contained in the website/application.</p>

            <p>4. As content on the website/application is copyrighted, any unauthorised use of any materials on the website/application may violate copyright, trademark and other laws. Should a user download the materials on the website/application for personal or non-commercial use, the user must retain all copyright, trademark or other similar notices contained in the original materials on or any copies of the material. Materials on this website/application may not be modified, reproduced or publicly displayed, performed or distributed or used for any public or commercial purposes.</p>

            <p>5. Electric Ireland is not responsible for any loss or damage occasioned by any user of this website/application, direct or indirect, financial or otherwise, arising as a result of access to or reliance on the information contained in this website/application or any statement or claim set out herein. The information contained in this website/application does not constitute an offer of, or an invitation by or on behalf of Electric Ireland or any other party, to provide any service outlined or referred to in this website/application, either directly or indirectly.</p>

            <p>6. Third-party links are provided as a convenience to our users. Electric Ireland does not control and is not responsible for any of these sites or their content. Electric Ireland is obligated to protect its reputation and trademarks and Electric Ireland reserves the right to request removal of any link to our website/application. Explicit permission is required to use the Electric Ireland logo. To request this written approval, use the "Contact Us" feature.</p>

            <p class="no-margin">The following web link activities are explicitly prohibited by Electric Ireland and may present trademark and copyright infringement issues:</p>
            <ol>
                <li>Links that involve unauthorised use of Electric Ireland's logo.</li>
                <li>Framing, inline links or metatags.</li>
                <li>Hyperlinks or a form of link that disguises the URL and bypass the homepage.</li>
            </ol>

            <p>7. Access to and use of information contained in this website/application may be prohibited in certain jurisdictions and information contained in this website/application should not be used in any jurisdiction where such prohibitions apply. Nothing contained herein should be construed as an authorisation to use the information contained herein in jurisdictions where such prohibitions apply.</p>

            <p>8. Access to and use of this website/application and the information contained in the website/application is governed by and construed in accordance with the laws of the Republic of Ireland. The Courts of the Republic of Ireland have exclusive jurisdiction in relation to the resolution of disputes or claims arising out of the use of and the information contained in the website/application.</p>

        </div>
    </div>
</div>
