<div class="help__content">
    <div class="cards-container container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card" data-testid="billing-container">
                    <div class="card-body">
                        <h2 class="card-title" data-testid="billing-title">
                            <span>Billing</span>
                        </h2>
                        <p class="card-text">Find out the many ways to pay your energy bill. Understand your bill, Gas Equalisers, payments and more.</p>
                        <a href="https://electricireland.ie/residential/help/billing" target="_blank" class="card-link" data-testid="billing-link" aria-label="Billing"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-testid="moving-home-container">
                    <div class="card-body">
                        <h2 class="card-title" data-testid="moving-home-title">
                            <span>Moving Home</span>
                        </h2>
                        <p class="card-text">Everything you need to know when moving home, setting up a new connection, changing account details and more.</p>
                        <a href="https://electricireland.ie/residential/help/moving-in-or-out" target="_blank" class="card-link" data-testid="moving-home-link" aria-label="Moving Home"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-testid="meters-container">
                    <div class="card-body">
                        <h2 class="card-title" data-testid="meters-title">
                            <span>Meters</span>
                        </h2>
                        <p class="card-text">How to read an electricity or gas meter and how to submit a reading.</p>
                        <a href="https://electricireland.ie/residential/help/meters" target="_blank" class="card-link" data-testid="meters-link" aria-label="Meters"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-testid="efficiency-container">
                    <div class="card-body">
                        <h2 class="card-title" data-testid="efficiency-title">
                            <span>Efficiency</span>
                        </h2>
                        <p class="card-text">How to reduce your energy bill and information on energy efficiency grants and products.</p>
                        <a href="https://electricireland.ie/residential/help/efficiency" target="_blank" class="card-link" data-testid="efficiency-link" aria-label="Efficiency"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-testid="special-needs-container">
                    <div class="card-body">
                        <h2 class="card-title" data-testid="special-needs-title">
                            <span>Customer with Special Needs</span>
                        </h2>
                        <p class="card-text">Our special services for older customers and people who require support.</p>
                        <a href="https://electricireland.ie/residential/help/help-for-customers-with-special-needs" target="_blank" class="card-link" data-testid="special-needs-link" aria-label="Customer with Special Needs"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-testid="online-billing-container">
                    <div class="card-body">
                        <h2 class="card-title" data-testid="online-billing-title">
                            <span>Online Billing</span>
                        </h2>
                        <p class="card-text">Everything you need to know about your online billing account.</p>
                        <a href="https://electricireland.ie/residential/help/online-billing" target="_blank" class="card-link" data-testid="online-billing-link" aria-label="Online Billing"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-testid="micro-generation-container">
                    <div class="card-body">
                        <h2 class="card-title" data-testid="micro-generation-title">
                            <span>Micro Generation</span>
                        </h2>
                        <p class="card-text">Information on small scale generators and surplus energy production.</p>
                        <a href="https://electricireland.ie/residential/help/micro-generation" target="_blank" class="card-link" data-testid="micro-generation-link" aria-label="Micro Generation"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-testid="safety-container">
                    <div class="card-body">
                        <h2 class="card-title" data-testid="safety-title">
                            <span>Safety</span>
                        </h2>
                        <p class="card-text">Carbon monoxide, safety at home, gas installation and more.</p>
                        <a href="https://electricireland.ie/residential/help/safety" target="_blank" class="card-link" data-testid="safety-link" aria-label="Safety"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card" data-testid="rewards-programme-container">
                    <div class="card-body">
                        <h2 class="card-title" data-testid="rewards-programme-title">
                            <span>Rewards Programme</span>
                        </h2>
                        <p class="card-text">Read about Electric Ireland Rewards, our loyalty scheme for customers.</p>
                        <a href="https://electricireland.ie/residential/help/rewards-programme" target="_blank" class="card-link" data-testid="rewards-programme-link" aria-label="Rewards Programme"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
