<section class="social-info social-info--with-divider">
    <div class="container wider">
        <div class="row">
            <div class="col col-12 col-lg-4" id="LP_ROL_HELP_FOOTER">
                <h3>Live Chat</h3>
                <p class="status status-off mb-4"><span>Currently Unavailable</span></p>
                <p>Sorry, all of our agents are unavailable to assist you right now.</p> 
            </div>
            <div class="col col-12 col-lg-4">
                <h3>Contact</h3>
                <div class="mb-4">
                    <p class="mb-2 font-weight-bold">Service</p>
                    <p class="mb-2"><a href="tel:1850372372" class="btn btn-xs green">1850 372 372</a></p>
                    <p class="smaller">8am - 8pm Mon - Sat</p>
                </div>
                <div class="mb-4">
                    <p class="mb-2 font-weight-bold">Sales</p>
                    <p class="mb-2"><a href="tel:1850305090" class="btn btn-xs green">1850 30 50 90</a></p>
                    <p class="mb-2 smaller">8am - 8pm Mon - Fri</p>
                    <p class="mb-2 smaller">9am - 5.30pm Sat</p>
                    <p><a href="mailto:sales@electricireland.ie" class="btn btn-xs green">sales@electricireland.ie</a></p>
                </div>
                <div>
                    <p class="mb-2 font-weight-bold">Home Energy Services</p>
                    <p class="mb-2"><a href="tel:1850372333" class="btn btn-xs green">1850 372 333</a></p>
                    <p class="mb-2 smaller">9am - 6pm Mon - Fri</p>
                    <p class="mb-0"><a href="mailto:homeservices@electricireland.ie" class="btn btn-xs green">homeservices@electricireland.ie</a></p>
                </div>
            </div>
            <div class="col col-12 col-lg-4 social">
                <h3>Social Network</h3>
                <p class="smaller">Mon - Fri 8am - 6pm</p>
                <ul>
                    <li><a href="https://www.facebook.com/ElectricIreland/">facebook</a></li>
                    <li><a href="https://twitter.com/ElectricIreland">twitter</a></li>
                    <li><a href="https://boards.ie" class="boards">boards.ie</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
