@using EI.RP.WebApp.Flows.AppFlows

@model EI.RP.WebApp.Flows.AppFlows.AddGasAccount.Steps.ShowErrorMessage.ScreenModel

<main class="help" data-page="add-gas-error">
    <div class="container">
        <div class="portal-details">
            <h2>Add Gas</h2>
            <div id="MPRN-GPRN" class="portal-details__form meter-reading">
                <h2 class="error">We cannot process your move request at the moment.</h2>
                <p>Please call 1850 372 372 to complete your move.</p>
                <flow-action id="dds_<_back_to_my_accounts"
                             class="btn btn-xs btn-xs-back green"
                             action-type="StartFlow"
                             flow-name="@ResidentialPortalFlowType.Accounts"
                             flow-location="NotContained">Back to My Accounts</flow-action>
            </div>
        </div>
    </div>
</main>
