@using EI.RP.WebApp.Flows.AppFlows
@using EI.RP.UiFlows.Mvc.Controllers
@using EI.RP.WebApp.Models.Static

@model StaticModel


@{
    ViewData["Title"] = "UI Flow Definitions";
    Layout = "_Layout_WithNav";
}

<div class="container pt-5 pb-5">
    <h1>UI Flow Definitions</h1>
    <ul>
        @foreach (var flowType in Enum.GetValues(typeof(ResidentialPortalFlowType)).Cast<ResidentialPortalFlowType>().Where(x => x != ResidentialPortalFlowType.NoFlow))
        {
            <li class="mt-2 mb-2">
                @Html.ActionLink($"Flow {flowType}", nameof(UiFlowController.DotGraph), flowType.ToString())
            </li>
        }
    </ul>
</div>
